<div class="card">
	<div class="card-body card-content card-scroll html-sentencia">
		<p><strong>
				AMPARO DIRECTO EN REVISIÓN 2197/2021
			</strong></p>
		<p><strong>
				QUEJOSO Y RECURRENTE:
			</strong><a id="_Hlk84160477"></a><strong>
				DANIEL VALERO JUÁREZ
			</strong></p>
		<p><strong>
				RECURRENTE ADHESIVO: SECRETARIO DE HACIENDA Y CRÉDITO PÚBLICO
	
			</strong></p>
		<p><strong>
				PONENTE: MINISTRO JAVIER LAYNEZ POTISEK
			</strong></p>
		<p><strong>
				SECRETARIA: GABRIELA GUADALUPE FLORES DE QUEVEDO
			</strong></p>
		<p><strong>
				COLABORÓ: MAXIMILIANO RIVERA HERRERA
			</strong></p>
		<p>Ciudad de México. La Segunda Sala de la Suprema Corte de Justicia de la Nación, en la sesión correspondiente al
			día <strong>veintisiete de octubre de dos mil veintiuno</strong>,
			emite la siguiente</p>
		<p class="corte4 fondo car"><strong>S E N T E N C I A</strong></p>
		<p class="corte4 fondo car">Mediante la que se resuelven los autos relativos al amparo directo en revisión
			<strong>2197/2021,
			</strong> interpuesto por <strong>DANIEL VALERO JUÁREZ </strong>contra la sentencia de dieciocho de marzo del
			dos mil veintiuno,
			dictada por el Decimonoveno Tribunal Colegiado en Materia Administrativa del Primer Circuito,
			en los autos del juicio de amparo directo 212/2020.
		</p>
		<p><strong>I. ANTECEDENTES</strong></p>
		<p> </p>
		<ol>
			<li><strong>Sede administrativa.</strong>La autoridad fiscal negó al quejoso la devolución del saldo a favor del
				impuesto al valor agregado correspondiente a los periodos de julio, septiembre y noviembre de dos mil
				catorce y de enero a marzo de dos mil quince, por no haber acreditado operaciones que desvirtuaran la
				presunción prevista en el artículo 59, fracción IX, del Código Fiscal de la Federación, relativa a que las
				mercancías que declaró haber exportado las enajenó en territorio nacional y en realidad no las exportó.
			</li>
			<li><strong>Juicio de nulidad.</strong> La parte interesada promovió juicio de nulidad cuya demanda fue
				desechada al considerarse improcedente por impugnarse una resolución administrativa emitida en cumplimiento
				de una sentencia de nulidad. Contra esa decisión interpuso recurso de reclamación que confirmó el auto
				recurrido. Inconforme, promovió amparo que le fue concedido al determinarse que no se actualizó la causa de
				improcedencia. </li>
			<li>En cumplimiento a la ejecutoria de amparo la sala fiscal responsable admitióla demanda y posteriormente
				dictósentencia en que reconocióla validez de la resolución administrativa impugnada.</li>
			<li><strong>Juicio de amparo. </strong>El quejoso promoviójuicio de amparo y en el tema de constitucionalidad de
				normas propuso,
				en esencia,
				lo siguiente: </li>
		</ol>
		<ul>
			<li>El artículo 59,
				fracción IX,
				del Código Fiscal de la Federación viola los principios de seguridad y proporcionalidad jurídicas al limitar
				el derecho a demostrar la materialidad de las operaciones con documentos jurídicamente válidos como cartas
				porte y pedimentos de importación,
				lo que además constituye una medida desproporcionada y no razonable para el fin perseguido.</li>
			<li>El negar de manera contundente cualquier posibilidad de demostrar la exportación de un bien a través del
				pedimento de exportación, restando valor absoluto probatorio, pleno, tasado, indiciario o mínimo, constituye
				una medida desproporcionada en comparación con el fin perseguido que es combatir la simulación de
				operaciones, todo ello para obtener la devolución de saldos a favor con base en la aplicación del impuesto
				al valor agregado por exportación. </li>
			<li>La medida es desproporcionada al negar valor probatorio al pedimento de exportación,
				con independencia de que se aporten otras pruebas para desvirtuar la presunción de que un bien no se
				exportó,
				pues no se podrían robustecer ni enlazar probatoriamente con dicho pedimento,
				por lo que no supera el test de razonabilidad y proporcionalidad.</li>
		</ul>
		<ol>
			<li><strong>Sentencia de amparo.</strong>El tribunal colegiado <strong>negó </strong>el amparo.Entre las
				consideraciones que destacan están: </li>
		</ol>
		<ul>
			<li>Las presunciones en el ámbito tributario se anticipan a las posibles conductas fraudulentas de los sujetos
				obligados,
				partiendo de una probabilidad normal en la realización de un hecho difícil de constatar para la autoridad
				fiscal creándose asíuna verdad jurídica distinta a la real conforme a lo previsto por el artículo 31,
				fracción IV,
				constitucional que autoriza al legislador a adoptar esas medidas.</li>
			<li>Entonces, las presunciones son instrumentos legales para que la autoridad fiscal pueda tener por probados
				hechos cuando exista dificultad práctica de probar la realidad que se pretende gravar, razón por la que se
				recurre a dichas instituciones favorables a la autoridad administrativa a fin de que no se le presente esa
				dificultad en situaciones en las que el legislador observa que, posiblemente, pudieran burlar el gravamen.
			</li>
			<li>Las presunciones fiscales se actualizan en el marco de las facultades de comprobación de las autoridades y
				no en todos los casos,
				siendo necesario que la autoridad las determine.</li>
			<li>La disposición impugnada surgió por la defraudación fiscal para obtener devolución de impuestos declarando
				exportaciones inexistentes mediante el pedimento de exportación obtenido de forma fraudulenta, sin demostrar
				la capacidad instalada para producir o almacenar bienes, incluso la existencia material de la operación de
				adquisición. </li>
			<li>El contribuyente debe conservar los documentos e información necesarios para demostrar que adquirióo
				fabricólos bienes exportados,
				pues de lo contrario la autoridad aplicarála presunción de que en realidad no se dio la exportación y las
				mercancías fueron enajenadas en territorio nacional con la consecuencia de cobro de impuestos.</li>
			<li>La norma impugnada respeta los derechos de seguridad jurídica y legalidad tributaria porque otorga pleno
				conocimiento sobre la regulación normativa respecto de la presunción aplicable cuando no exhiba los
				documentos e información que se exigen en los supuestos previstos y la consecuencia que ello genera. </li>
			<li>La presunción no es desproporcionada pues no priva de valor probatorio al pedimento de exportación con
				independencia de que se aporten diversas pruebas para demostrar los supuestos previstos en la norma
				impugnada,
				pues estásujeta a la falta de dicha documentación e información.</li>
			<li>No hay negativa absoluta a dar valor probatorio al pedimento de exportación, pues si se cumple con el
				requerimiento de documentación e información, se podrá valorar de forma conjunta. </li>
			<li>La norma otorga libertad probatoria para demostrar que existióla mercancía enajenada y que se verificóla
				exportación,
				sin límites.</li>
			<li>En el caso no aplica el principio de proporcionalidad de las leyes fiscales, porque los indicios de los que
				deriva la presunción en comento no implican inmediata o automáticamente que se deba pagar impuesto alguno,
				ya que, en ese caso, se pasaría por diversos procedimientos que prevén las leyes sustantivas conducentes.
			</li>
		</ul>
		<ol>
			<li><strong>Revisión y agravios. </strong>La quejosa formula los argumentos esenciales siguientes: </li>
		</ol>
		<ul>
			<li>Insiste en la inconstitucionalidad de la norma impugnada,
				para lo cual reitera los argumentos formulados en sus conceptos de violación en cuanto a que prevéuna
				limitante para demostrar la materialidad de las operaciones negando valor probatorio al pedimento de
				exportación,
				lo que resulta desproporcionado.</li>
			<li>Reitera que la norma no supera el test de razonabilidad y proporcionalidad jurídica por no permitir
				demostrar que se exportaron las mercancías mediante otros medios de prueba. </li>
			<li>Alega que el TCC establecióque opera la presunción prevista en la norma impugnada por la imposibilidad
				probatoria del contribuyente,
				pero pierde de vista que esa imposibilidad se da al negar valor probatorio al pedimento de exportación.</li>
			<li>Es ilógico el señalamiento relativo a que no hay limitante para aportar pruebas y acreditar la exportación,
				bajo la justificación de que ello sólo se puede hacer con la documentación a que se refiere cada uno de los
				supuestos de la norma impugnada, y en caso de incumplir se determina presuntivamente que la mercancía se
				enajenó en territorio nacional, pues sí existe límite al negar valor probatorio al pedimento y no establecer
				qué pruebas serán útiles para acreditar la exportación.</li>
			<li>Es válido realizar un test de proporcionalidad para definir si la norma reúne los parámetros
				constitucionales.</li>
			<li>Finalmente, describe diversos aspectos relacionados con derechos humanos como bloque de constitucionalidad,
				interpretación conforme y principio pro persona, indicando que la sentencia recurrida se apartó de los
				estándares establecidos en dichos aspectos contenidos en la Constitución Federal al haber incorporado
				elementos ajenos a los requisitos legales de la solicitud de saldo a favor. </li>
		</ul>
		<ol>
			<li><strong>Revisión adhesiva. </strong>La autoridad hacendaria interpuso revisión adhesiva en que propone la
				improcedencia del recurso y agravios para robustecer la conclusión del tribunal colegiado de circuito.</li>
			<li>El Presidente de este Máximo Tribunal admitió el recurso de revisión, ordenó formar y registrar el
				expediente respectivo, turnarlo al Ministro Javier Laynez Potisek y enviar los autos a la Sala a la que se
				encuentra adscrito<sup><a href="#footnote-1" id="footnote-ref-1">[1]</a></sup>. Posteriormente, la
				Presidenta de la Segunda Sala se avocó al conocimiento del asunto, ordenó enviar los autos al Ministro
				Ponente para la elaboración del proyecto de resolución y, después, admitió la revisión adhesiva interpuesta
				por la autoridad hacendaria.<sup><a href="#footnote-2" id="footnote-ref-2">[2]</a></sup></li>
			<li><strong>C O N S I D E R A N D O QUE</strong></li>
			<li>Esta Segunda Sala es legalmente competente para conocer el presente recurso,
				con fundamento en los artículos 107,
				fracción IX<sup><a href="#footnote-3" id="footnote-ref-3">[
						3
						]</a></sup>,
				de la Constitución Federal;83 de la Ley de Amparo<sup><a href="#footnote-4" id="footnote-ref-4">[
						4
						]</a></sup>;21,
				fracción IV,
				de la Ley Orgánica del Poder Judicial de la Federación<sup><a href="#footnote-5" id="footnote-ref-5">[
						5
						]</a></sup>,
				ambas vigentes a partir del siete de junio de dos mil veintiuno y los Puntos Primero y Tercero del Acuerdo
				General Plenario 5/2013<sup><a href="#footnote-6" id="footnote-ref-6">[
						6
						]</a></sup>,
				toda vez que el recurso de revisión se interpuso en contra de la sentencia dictada por un Tribunal Colegiado
				de Circuito en un juicio de amparo directo en materia administrativa.</li>
			<li>El recurso de revisión en el juicio de amparo directo se encuentra regulado en los artículos 107, fracción
				IX, de la Constitución Federal y 81, fracción II<sup><a href="#footnote-7" id="footnote-ref-7">[7]</a></sup>
				y 96<sup><a href="#footnote-8" id="footnote-ref-8">[8]</a></sup>, de la Ley de Amparo, y 21, fracción IV, de
				la Ley Orgánica del Poder Judicial de la Federación.</li>
			<li>De la lectura de los preceptos mencionados se desprende que las resoluciones en juicios de amparo directo
				que emitan los tribunales colegiados de circuito<strong>no admiten recurso alguno</strong> salvo que las
				sentencias: <strong>a)</strong>decidan sobre la constitucionalidad de normas generales;<strong>b)</strong>
				establezcan la interpretación directa de un precepto de la Constitución Federal o de los derechos humanos
				establecidos en los tratados internacionales de los que el Estado mexicano sea parte, o <strong>c)
				</strong>hayan omitido el estudio de la inconstitucionalidad de una ley o la interpretación directa de un
				precepto constitucional,
				cuando ello se haya planteado en la demanda de amparo.</li>
			<li>Los anteriores requisitos son alternativos. Es decir, basta que se dé uno u otro para que en principio
				resulte procedente el recurso de revisión en amparo directo. Sin embargo, existe un segundo requisito que se
				debe cumplir, consistente en que los temas de constitucionalidad a analizar en cada asunto <a
					id="_Hlk84162554"></a>revistan un<strong>interés excepcional</strong>en materia constitucional o de
				derechos humanos, de conformidad con el artículo 107, fracción IX, constitucional.</li>
			<li>Asíse dispuso en la reforma constitucional publicada el once de marzo de dos mil veintiuno en el Diario
				Oficial de la Federación,
				de la que se desprende que las resoluciones que emitan los Tribunales Colegiados de Circuito en juicios de
				amparo directo no admiten recurso alguno,
				salvo que el asunto revista un interés excepcional en materia constitucional o de derechos humanos,
				lo cual queda a discreción de esta Suprema Corte de Justicia de la Nación.</li>
			<li>Cabe destacar que, de la exposición de motivos de veinte de febrero de dos mil veinte y de la discusión de
				veintisiete de noviembre de ese año, se advierte que la intención del legislador al prever como requisito un
				“interés excepcional” en materia constitucional o de derechos humanos consistió en dotar de mayor fuerza la
				discrecionalidad de la Suprema Corte de Justicia de la Nación para decidir qué asuntos resolverá y, con
				ello, fortalecerlo como Tribunal Constitucional.</li>
			<li>Ahora bien,
				en vista de los antecedentes y los documentos contenidos en el expediente del presente asunto,
				se advierte que en el caso<strong>se acredita el primer requisito de procedencia,
				</strong>toda vez que subsiste un planteamiento de constitucionalidad consistente en determinar si el
				artículo 59, fracción IX, del Código Fiscal de la Federación viola los diversos 14 y 16 constitucionales, en
				relación con los principios de seguridad, legalidad y proporcionalidad jurídicas.</li>
			<li>No obstante,
				esta Segunda Sala también advierte que en el presente asunto no se cumple el segundo requisito de
				procedencia,
				pues no<strong>reviste un interés excepcional</strong> en términos de los artículos 107, fracción IX,
				constitucional y 81, fracción II, de la Ley de Amparo. </li>
			<li>Lo anterior ya que a juicio de esta Sala<strong>su resolución no permitiráfijar un criterio novedoso ni de
					relevancia para el ordenamiento jurídico nacional</strong>. Asimismo, se advierte que en la sentencia
				recurrida <strong>no se desconoció u</strong><strong>omitióun criterio emitido</strong> por esta Suprema
				Corte, referente a cuestiones propiamente constitucionales.</li>
			<li>En efecto,
				sobre los temas a resolver,
				esta Suprema Corte ha emitido los criterios siguientes: </li>
		</ol>
		<ul>
			<li>Jurisprudencia 2 a./J.140/2017 de la Segunda Sala,
				de rubro: <strong>PRINCIPIO DE SEGURIDAD JURÍDICA EN MATERIA FISCAL.SU CONTENIDO ESENCIAL</strong>.<sup><a
						href="#footnote-9" id="footnote-ref-9">[9]</a></sup> </li>
			<li>Jurisprudencia 2 a./J.56/2010 de la Segunda Sala,
				de rubro: <strong>PRESUNCIÓN DE INGRESOS ESTABLECIDA EN EL ARTÍCULO 59,
					FRACCIÓN III,
					DEL CÓDIGO FISCAL DE LA FEDERACIÓN.SE ACTUALIZA CUANDO EL REGISTRO DE LOS DEPÓSITOS BANCARIOS EN LA
					CONTABILIDAD DEL CONTRIBUYENTE OBLIGADO A LLEVARLA,
					NO ESTÉSOPORTADO CON LA DOCUMENTACIÓN CORRESPONDIENTE</strong>.<sup><a href="#footnote-10"
						id="footnote-ref-10">[10]</a></sup></li>
			<li>Tesis aislada 1 a.L/2012(10 a.)de la Primera Sala,
				de rubro: <strong>RENTA.DIFERENCIAS ENTRE LOS MÉTODOS DE VALORACIÓN O DETERMINACIÓN DE LA BASE IMPONIBLE Y
					LAS PRESUNCIONES Y FICCIONES UTILIZADAS PARA TAL FIN.</strong><sup><a href="#footnote-11"
						id="footnote-ref-11">[11]</a></sup></li>
			<li>Tesis aislada 1 a.XXIII/2008 de la Primera Sala,
				de rubro: <strong>RENTA.EL ARTÍCULO 31,
					FRACCIÓN XVI,
					DE LA LEY DEL IMPUESTO RELATIVO,
					AL INCLUIR LA EXPRESIÓN "NOTORIA IMPOSIBILIDAD PRÁCTICA DE COBRO",
					NO TRANSGREDE EL PRINCIPIO DE LEGALIDAD TRIBUTARIA(LEGISLACIÓN VIGENTE EN 2005).</strong><sup><a
						href="#footnote-12" id="footnote-ref-12">[12]</a></sup></li>
			<li>Tesis aislada 1 a.CXL/2011 de la Primera Sala,
				de rubro: <strong>PRESUNCIÓN DE INGRESOS Y DEL VALOR DE ACTOS O ACTIVIDADES.EL ARTÍCULO 59,
					FRACCIÓN III,
					DEL CÓDIGO FISCAL DE LA FEDERACIÓN NO VIOLA EL PRINCIPIO DE PROPORCIONALIDAD TRIBUTARIA.</strong><sup><a
						href="#footnote-13" id="footnote-ref-13">[13]</a></sup></li>
		</ul>
		<ol>
			<li>Además, ha resuelto los siguientes asuntos en que, se ha pronunciado sobre el planteamiento de
				inconstitucionalidad señalado, y ha señalado que el análisis de dicho tema no daría lugar a un
				pronunciamiento novedoso o de relevancia para el orden jurídico nacional, respectivamente:</li>
		</ol>
		<ul>
			<li>Amparo directo en revisión 3203/2016,
				resuelto por esta Segunda Sala el veintidós de marzo del dos mil diecisiete,
				por unanimidad de votos.</li>
			<li>Recursos de reclamación 1429/2019 y 187/2020,
				resueltos por esta Sala en sesiones de cuatro de noviembre de dos mil diecinueve y seis de mayo del dos mil
				veinte,
				respectivamente,
				por unanimidad de votos.</li>
		</ul>
		<ol>
			<li>En mérito de lo expuesto y conforme a lo resuelto en el amparo directo en revisión 6686/2016 en sesión de
				veintidós de marzo del dos mil diecisiete,
				esta Segunda Sala llega a la conclusión que el presente asunto<strong>no reúne los requisitos de
					procedencia</strong>, razón por la cual, se</li>
		</ol>
		<p class="list paragraph"><strong>RESUELVE</strong></p>
		<p><strong>ÚNICO. </strong>Se desechan los recursos de revisión principal y adhesivo.</p>
		<p class="corte4 fondo">Notifíquese; con testimonio de esta resolución, vuelvan los autos relativos al lugar de
			origen y, en su oportunidad, archívese el toca como asunto concluido.</p>
		<p class="corte4 fondo">Asílo resolvióla Segunda Sala de la Suprema Corte de Justicia de la Nación,
			por unanimidad de cinco votos de los Ministros Alberto Pérez Dayán,
			Luis María Aguilar Morales,
			JoséFernando Franco González Salas,
			Javier Laynez Potisek(ponente)y Presidenta Yasmín Esquivel Mossa.El Ministro JoséFernando Franco González Salas
			emitiósu voto con reservas.</p>
		<p class="corte4 fondo">Firman la Presidenta de la Segunda
			Sala y el Ministro Ponente,
			con la Secretaria de Acuerdos,
			quien autoriza y da fe.</p>
		<p><strong>PRESIDENTA DE LA SEGUNDA SALA</strong></p>
		<p><strong>MINISTRA YASMÍN ESQUIVEL MOSSA</strong></p>
		<p><strong>PONENTE</strong></p>
		<p><strong>MINISTRO JAVIER LAYNEZ POTISEK</strong></p>
		<p><strong>SECRETARIA DE ACUERDOS</strong></p>
		<p><strong>CLAUDIA MENDOZA POLANCO</strong></p>
		<p>La Secretaria de Acuerdos <strong>CERTIFICA </strong>que esta hoja corresponde a la ejecutoria dictada en el
			expediente relativo al<strong>Amparo Directo en Revisión 2197/2021,
			</strong> fallado en la sesión ordinaria de la Segunda Sala de la Suprema Corte de Justicia de la Nación
			celebrada el <strong>veintisiete de octubre del dos mil veintiuno.</strong><strong>DOY FE.</strong></p>
		<p class="corte4 fondo"><strong>LJRL</strong></p>
		<div id="container-footernote" style="border-top: 1px solid #ccc4">
			<ol>
				<li id="footnote-1">
					<p>Acuerdo de veintiuno de mayo del dos mil veintiuno.<a href="#footnote-ref-1">â†‘</a></p>
				</li>
				<li id="footnote-2">
					<p> Acuerdos de treinta de septiembre y de cuatro de octubre del dos mil veintiuno. <a
							href="#footnote-ref-2">â†‘</a></p>
				</li>
				<li id="footnote-3">
					<p><strong>Artículo 107.</strong> Las controversias de que habla el artículo 103 de esta Constitución,
						con excepción de aquellas en materia electoral, se sujetarán a los procedimientos que determine la
						ley reglamentaria, de acuerdo con las bases siguientes:[…].</p>
					<p><strong>IX</strong>.- En materia de amparo directo procede el recurso de revisión en contra de las
						sentencias que resuelvan sobre la constitucionalidad de normas generales, establezcan la
						interpretación directa de un precepto de esta Constitución u omitan decidir sobre tales cuestiones
						cuando hubieren sido planteadas, siempre que a juicio de la Suprema Corte de Justicia de la Nación
						el asunto revista un interés excepcional en materia constitucional o de derechos humanos. La materia
						del recurso se limitará a la decisión de las cuestiones propiamente constitucionales, sin poder
						comprender otras. En contra del auto que deseche el recurso no procederá medio de impugnación
						alguno;[…]. <a href="#footnote-ref-3">â†‘</a></p>
				</li>
				<li id="footnote-4">
					<p><strong>Artículo 83.</strong> Es competente la Suprema Corte de Justicia de la Nación para conocer
						del recurso de revisión contra las sentencias dictadas en la audiencia constitucional, cuando
						habiéndose impugnado normas generales por estimarlas inconstitucionales, o cuando en la sentencia se
						establezca la interpretación directa de un precepto de la Constitución y subsista en el recurso el
						problema de constitucionalidad.</p>
					<p>El pleno de la Suprema Corte de Justicia de la Nación,
						mediante acuerdos generales,
						distribuiráentre las salas los asuntos de su competencia o remitiráa los tribunales colegiados de
						circuito los que,
						conforme a los referidos acuerdos,
						la propia Corte determine.<a href="#footnote-ref-4">â†‘</a></p>
				</li>
				<li id="footnote-5">
					<p class="texto"> <strong>Artículo 21.</strong>Corresponde conocer a las Salas: [
						…
						].</p>
					<p class="texto"><strong>IV.</strong>Del recurso de revisión en amparo directo,
						en contra de las sentencias que resuelvan sobre la constitucionalidad de normas generales,
						establezcan la interpretación directa de un precepto de esta Constitución u omitan decidir sobre
						tales cuestiones cuando hubieren sido planteadas,
						siempre que a juicio de la Suprema Corte de Justicia de la Nación el asunto revista un interés
						excepcional en materia constitucional o de derechos humanos.La materia del recurso se limitaráa la
						decisión de las cuestiones propiamente constitucionales,
						sin poder comprender otras;[
						…
						].</p>
					<p> <a href="#footnote-ref-5">â†‘</a></p>
				</li>
				<li id="footnote-6">
					<p><strong>PRIMERO.</strong> Las Salas de la Suprema Corte de Justicia de la Nación ejercerán la
						competencia que les otorga el artículo 21 de la Ley Orgánica del Poder Judicial de la Federación, de
						la manera siguiente: </p>
					<p>La Primera Sala conoceráde las materias civil y penal,
					</p>
					<p>y La Segunda Sala conocerá de las materias administrativa y del trabajo.[…].</p>
					<p><strong>TERCERO.</strong> Las Salas resolverán los asuntos de su competencia originaria y los de la
						competencia del Pleno que no se ubiquen en los supuestos señalados en el Punto precedente, siempre y
						cuando unos y otros no deban ser remitidos a los Tribunales Colegiados de Circuito. <a
							href="#footnote-ref-6">â†‘</a></p>
				</li>
				<li id="footnote-7">
					<p><strong>Artículo 81.</strong> Procede el recurso de revisión: […]</p>
					<p><strong>II</strong>. En amparo directo, en contra de las sentencias que resuelvan sobre la
						constitucionalidad de normas generales que establezcan la interpretación directa de un precepto de
						la Constitución Política de los Estados Unidos Mexicanos u omitan decidir sobre tales cuestiones
						cuando hubieren sido planteadas, siempre que a juicio de la Suprema Corte de Justicia de la Nación
						el asunto revista un interés excepcional en materia constitucional o de derechos humanos. La materia
						del recurso se limitará a la decisión de las cuestiones propiamente constitucionales sin poder
						comprender otras. <a href="#footnote-ref-7">â†‘</a></p>
				</li>
				<li id="footnote-8">
					<p><strong>Artículo 96</strong>. Cuando se trate de revisión de sentencias pronunciadas en materia de
						amparo directo por tribunales colegiados de circuito, la Suprema Corte de Justicia de la Nación
						resolverá únicamente sobre la constitucionalidad de la norma general impugnada, o sobre la
						interpretación directa de un precepto de la Constitución Política de los Estados Unidos Mexicanos o
						de los derechos humanos establecidos en los tratados internacionales de los que el Estado Mexicano
						sea parte. <a href="#footnote-ref-8">â†‘</a></p>
				</li>
				<li id="footnote-9">
					<p>Localización: Décima Época;Segunda Sala;Gaceta del Semanario Judicial de la Federación;Libro 47,
						Octubre de 2017,
						Tomo II;página 840.<a href="#footnote-ref-9">â†‘</a></p>
				</li>
				<li id="footnote-10">
					<p> Localización: Novena Época; Segunda Sala; Semanario Judicial de la Federación y su Gaceta. Tomo
						XXXI, Mayo de 2010, página 838. <a href="#footnote-ref-10">â†‘</a></p>
				</li>
				<li id="footnote-11">
					<p>Localización: Décima Época;Primera Sala;Semanario Judicial de la Federación y su Gaceta.Libro VI,
						Marzo de 2012,
						Tomo 1,
						página 285.<a href="#footnote-ref-11">â†‘</a></p>
				</li>
				<li id="footnote-12">
					<p> Localización: Novena Época; Primera Sala; Fuente: Semanario Judicial de la Federación y su Gaceta.
						Tomo XXVII, Marzo de 2008, página 126. <a href="#footnote-ref-12">â†‘</a></p>
				</li>
				<li id="footnote-13">
					<p>Localización: Novena Época;Instancia: Primera Sala;Semanario Judicial de la Federación y su Gaceta
						Tomo XXXIV,
						Julio de 2011,
						página 306.<a href="#footnote-ref-13">â†‘</a></p>
				</li>
			</ol>
		</div>
	
	</div>

</div>
