<table class="table table-sm">
	<thead>
	  <tr>
		<th scope="col">Clasificación</th>
		<th scope="col">Contenido</th>
	  </tr>
	</thead>
	<tbody>
	  <tr class="table-primary">
		<td rowspan="2"style="vertical-align : middle;text-align:center;">Hecho</td>
		<td style="text-align: justify;">Sede administrativa. La autoridad fiscal negó al quejoso la devolución del saldo a favor del impuesto al valor agregado correspondiente a los periodos de julio, septiembre y noviembre de dos mil catorce y de enero a marzo de dos mil quince, por no haber acreditado operaciones que desvirtuaran la presunción prevista en el artículo 59, fracción IX, del Código Fiscal de la Federación, relativa a que las mercancías que declaró haber exportado las enajenó en territorio nacional y en realidad no las exportó.</td>
	  </tr>
	  <tr class="table-primary">
		<td style="text-align: justify;">Juicio de nulidad. La parte interesada promovió juicio de nulidad cuya demanda fue desechada al considerarse improcedente por impugnarse una resolución administrativa emitida en cumplimiento de una sentencia de nulidad. Contra esa decisión interpuso recurso de reclamación que confirmó el auto recurrido. Inconforme, promovió amparo que le fue concedido al determinarse que no se actualizó la causa de improcedencia.</td>
	  </tr>
	  <tr class="table-warning">
		<td rowspan="2" style="vertical-align : middle;text-align:center;">Criterio Juridico</td>
		<td style="text-align: justify;">Los anteriores requisitos son alternativos. Es decir, basta que se dé uno u otro para que en principio resulte procedente el recurso de revisión en amparo directo. Sin embargo, existe un segundo requisito que se debe cumplir, consistente en que los temas de constitucionalidad a analizar en cada asunto revistan un interés excepcional en materia constitucional o de derechos humanos, de conformidad con el artículo 107, fracción IX, constitucional</td>
	  </tr>
	  <tr class="table-warning">
		<td style="text-align: justify;">Cabe destacar que, de la exposición de motivos de veinte de febrero de dos mil veinte y de la discusión de veintisiete de noviembre de ese año, se advierte que la intención del legislador al prever como requisito un “interés excepcional” en materia constitucional o de derechos humanos consistió en dotar de mayor fuerza la discrecionalidad de la Suprema Corte de Justicia de la Nación para decidir qué asuntos resolverá y, con ello, fortalecerlo como Tribunal Constitucional.</td>
	  </tr>
	  <tr class="table-info">
		<td style="vertical-align : middle;text-align:center;" >Ratio</td>
		<td style="text-align: justify;">Lo anterior ya que a juicio de esta Sala su resolución no permitirá fijar un criterio novedoso ni de relevancia para el ordenamiento jurídico nacional. Asimismo, se advierte que en la sentencia recurrida no se desconoció u omitió un criterio emitido por esta Suprema Corte, referente a cuestiones propiamente constitucionales.</td>
	  </tr>
	  <tr class="table-success">
		<td style="vertical-align : middle;text-align:center;" >Consecuencia Juridica</td>
		<td style="text-align: justify;">En mérito de lo expuesto y conforme a lo resuelto en el amparo directo en revisión 6686/2016 en sesión de veintidós de marzo del dos mil diecisiete, esta Segunda Sala llega a la conclusión que el presente asunto no reúne los requisitos de procedencia, razón por la cual</td>
	  </tr>
	</tbody>
  </table>

