.btn-scjn {
  background-color: #24135F;
  text-align: center;
}
.btn-or {
  background-color: #FEB272;
  text-align: center;
}
.btn-gl {
  background-color: #479F76;
  text-align: center;
}
.btn-yell {
  background-color: #FFDA6A;
  text-align: center;
}
.btn-aq {
  background-color: #A6E9D5;
  text-align: center;
}
