<div class="container">
    <div class="accordion" id="accordionExample">
        <div class="steps">
            <progress id="progress" value=0 max=100></progress>
            <div class="step-item">
                <button class="step-button text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    1
                </button>
                <div class="step-title">
                    Inicio
                </div>
            </div>
            <div class="step-item">
                <button class="step-button text-center collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    2
                </button>
                <div class="step-title">
                    Identificación Elementos
                </div>
            </div>
            <div class="step-item">
                <button class="step-button text-center collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    3
                </button>
                <div class="step-title">
                    Clasificación
                </div>
            </div>
            <div class="step-item">
                <button class="step-button text-center collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    4
                </button>
                <div class="step-title">
                    Vectorización
                </div>
            </div>
            <div class="step-item">
                <button class="step-button text-center collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    5
                </button>
                <div class="step-title">
                    Base de Datos de Hechos
                </div>
            </div>
            <div class="step-item">
                <button class="step-button text-center collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    6
                </button>
                <div class="step-title">
                    Vectores Cercanos
                </div>
            </div>
            <div class="step-item">
                <button class="step-button text-center collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    7
                </button>
                <div class="step-title">
                    Posibles Precedentes
                </div>
            </div>
        </div>

        <div class="card">
            <div id="headingOne"></div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="card-body">
                    <app-sentencia></app-sentencia>
                </div>
            </div>
        </div>
        <div class="card">
            <div id="headingTwo"></div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="card-body">
                    <app-limpieza></app-limpieza>
                </div>
            </div>
        </div>
        <div class="card">
			<div id="headingThree"></div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="card-body">
                    <app-clasificacion></app-clasificacion>
                </div>
            </div>
        </div>
        <div class="card">
            <div id="headingFour"></div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="card-body">
                    <app-vector></app-vector>
                </div>
            </div>
        </div>

        <div class="card">
            <div id="headingFive"></div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                <div class="card-body">
                    <app-bd></app-bd>
                </div>
            </div>
        </div>

        <div class="card">
            <div id="headingSix"></div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                <div class="card-body">
                    <app-vecercanos></app-vecercanos>
                </div>
            </div>
        </div>

        <div class="card">
            <div id="headingSeven"></div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSevens" data-bs-parent="#accordionExample">
                <div class="card-body">
                    <app-precedentes></app-precedentes>
                </div>
            </div>
        </div>
    </div>
</div>