<div class="row">
    <div class="col text-center">
      <img src="./assets/img/db.png">
      <h3>Se realiza análisis en la base de datos histórica para encontrar los registros con mayor similitud</h3>
    </div>
    <div class="col d-flex justify-content-end">
      <div class="card text-white bg-primary mb-2" style="max-width: 19rem;">
  	    <div class="card-header">Vector A</div>
  		    <div class="card-body card-scroll">
    		    <p class="card-text text-center">
              "texto_vector_bert" : [
              -0.04884256422519684,
              0.05645296350121498,
              0.008258827961981297,
              -1.451002899557352E-4,
              -0.016167491674423218,
              -0.05013979598879814,
              0.03220241144299507,
              0.041442420333623886,
              0.020775794982910156,
              0.005733547732234001,
              0.024907851591706276,
              -0.048029862344264984,
              -0.005079260095953941,
              -0.02018796280026436,
              0.0371549054980278,
              -0.016882704570889473,
              0.050530653446912766,
              0.05801169201731682,
              0.010518522001802921,
              -0.026535075157880783,
              -0.04178614541888237,
              0.003685126779600978,
              -0.03916294127702713,
              -0.04220651835203171,
              0.05281849578022957,
              -0.1844809353351593,
              -0.022112596780061722,
              -0.020703816786408424,
              0.03239566460251808,
              -7.007298991084099E-4,
              -0.04241662472486496,
              -0.004137208219617605,
              0.060939542949199677,
              -0.016912100836634636,
              -0.014096752740442753,
              -0.0067412033677101135,
              0.022427763789892197,
              0.0038180651608854532,
              -0.022607609629631042,
              9.798917453736067E-4,
              -0.0010003235656768084,
              0.017140401527285576,
              0.03356458991765976,
              -0.025781234726309776,
              0.06153935194015503,
              0.09626447409391403,
              0.029980523511767387,
              0.01548441406339407,
              -0.026555804535746574,
              0.04216628894209862,
              0.04310661926865578,
              -0.012967265211045742,
              0.028593890368938446,
              0.009287885390222073,
              -0.04683502018451691,
              0.011995183303952217,
              -0.07485544681549072,
              0.042602356523275375,
              -0.05639305338263512,
              0.0314115472137928,
              0.087518110871315,
              0.04055936634540558,
              -0.007555050775408745,
              0.04658127948641777,
              -0.09181397408246994,
              -0.018386244773864746,
              0.02815846912562847,
              -0.021825218573212624,
              -0.04053660109639168,
              0.04091927781701088,
              0.003665447933599353,
              0.010317258536815643,
              -0.029536860063672066,
              0.03365808725357056,
              0.05813014134764671,
              0.024951715022325516,
              -0.013735678978264332,
              0.026976516470313072,
              0.039810843765735626,
              -0.02342146635055542,
              0.05774587392807007,
              0.004221446346491575,
              -0.08760561048984528,
              0.04941491782665253,
              0.005180818028748035,
              0.02124064601957798,
              -0.0111179668456316,
              0.019479066133499146,
              -0.04364040866494179,
              0.04266616329550743,
              -0.030310094356536865,
              0.025967353954911232,
              -0.022828390821814537,
              0.018066078424453735,
              -0.011769266799092293,
              -0.04671844094991684,
              0.05682610347867012,
              -0.07011669129133224,
              0.05445755645632744,
              -0.06463966518640518,
              0.0024510016664862633,
              -0.03205385431647301,
              -0.013626259751617908,
              -0.04558790475130081,
              -0.0075231315568089485,
              -0.026481423527002335,
              -0.057822249829769135,
              0.007086038589477539,
              0.05568072944879532,
              0.015118885785341263,
              -0.05666955187916756,
              0.05379832908511162,
              -0.039982870221138,
              0.0406653918325901,
              -0.0055199284106493,
              -0.041192807257175446,
              0.0650087371468544,
              0.04875531047582626,
              -0.010029200464487076,
              -0.032391007989645004,
              0.002014600671827793,
              0.11955565214157104,
              -0.10400053858757019,
              0.0632396787405014,
              -0.016689810901880264,
              0.0989757776260376,
              0.05691945180296898,
              -0.03182870149612427,
              0.018596576526761055,
              -0.009530405513942242,
              -0.06564615666866302,
              -0.006556167267262936,
              0.03499617427587509,
              0.028034590184688568,
              0.033226653933525085,
              -0.023503761738538742,
              0.03427201136946678,
              -0.001749373972415924,
              -0.005048948340117931,
              0.03674683719873428,
              0.006354391574859619,
              0.03860989585518837,
              0.06296330690383911,
              0.021643411368131638,
              -0.038126274943351746,
              0.007428464479744434,
              -0.05988967791199684,
              -0.047303926199674606,
              -0.015187455341219902,
              0.02496432699263096,
              -0.013232809491455555,
              -0.010639497078955173,
              -0.05744015425443649,
              0.04363378509879112,
              0.002543278504163027,
              0.03480096161365509,
              -0.01425448153167963,
              -0.021964579820632935,
              -0.03006146475672722,
              -0.025389978662133217,
              0.0035332501865923405,
              -0.013424891978502274,
              0.011322752572596073,
              0.006994814146310091,
              -0.005940746515989304,
              -0.03483079746365547,
              -2.6244885521009564E-4,
              -0.056472305208444595,
              0.019845983013510704,
              -0.05990000441670418,
              0.05694625526666641,
              0.004383760504424572,
              -0.029881160706281662,
              0.015469499863684177,
              -0.028989477083086967,
              -0.035388119518756866,
              -0.004359397571533918,
              -0.021389329805970192,
              0.017984766513109207,
              -0.03311672806739807,
              -0.030188364908099174,
              -0.004887917544692755,
              3.4419557778164744E-4,
              -0.03267749771475792,
              0.006661033257842064,
              0.011320010758936405,
              -0.0519595667719841,
              0.05699494853615761,
              0.03773637115955353,
              -0.012322869151830673,
              0.04074036329984665,
              -0.05207538977265358,
              0.040697626769542694,
              0.01200562808662653,
              0.025483665987849236,
              -0.013231068849563599,
              -0.00895366445183754,
              0.020583754405379295,
              0.030158337205648422,
              0.10000728815793991,
              0.07248807698488235,
              -0.037274349480867386,
              -0.03347598761320114,
              -0.050482314079999924,
              -0.025592129677534103,
              0.0356869101524353,
              0.014893743209540844,
              0.022985463961958885,
              -0.0385977178812027,
              0.03493361547589302,
              -0.012021753937005997,
              -0.023117732256650925,
              -0.05326685681939125,
              -0.009830491617321968,
              -0.05798938125371933,
              0.003920895047485828,
              0.07843954116106033,
              -0.028895623981952667,
              -0.00890756119042635,
              -0.0010282434523105621,
              -0.03828008472919464,
              -0.05364895239472389,
              0.004482910502701998,
              0.012902575545012951,
              0.01835133507847786,
              0.018070416525006294,
              1.264805468963459E-4,
              0.02445334568619728,
              -0.05695252865552902,
              0.02677033469080925,
              -0.025002339854836464,
              0.010156113654375076,
              -0.04055255651473999,
              -0.01389937475323677,
              0.04499939829111099,
              0.06779645383358002,
              -0.028590572997927666,
              -0.031721264123916626,
              0.06362483650445938,
              0.022132284939289093,
              -0.010433672927320004,
              0.01725023053586483,
              -0.016103889793157578,
              0.0022254041396081448,
              -0.01617501489818096,
              0.04136523976922035,
              -0.02714768797159195,
              -0.003962086513638496,
              -0.04088817536830902,
              0.027231236919760704,
              -0.03181018307805061,
              -0.007811264134943485,
              0.04758520796895027,
              -0.017638858407735825,
              -0.006417923141270876,
              -0.013353340327739716,
              0.006047889590263367,
              0.02499137446284294,
              -0.01810522750020027,
              -0.05084249749779701,
              0.02191643789410591,
              0.018710928037762642,
              -0.0013281271094456315,
              0.006309862248599529,
              -0.013034471310675144,
              0.004540196619927883,
              -0.022656431421637535,
              5.603650351986289E-4,
              -0.008751742541790009,
              -0.0193826574832201,
              0.015423347242176533,
              0.04677911847829819,
              0.03349388763308525,
              0.007279281970113516,
              -0.04069957137107849,
              0.05642424151301384,
              0.026249561458826065,
              -0.052739374339580536,
              -0.04455083608627319,
              0.03233427181839943,
              -0.058089353144168854,
              -0.048383764922618866,
              -0.004110474139451981,
              -0.01713377609848976,
              -0.008094164542853832,
              0.0320264957845211,
              -0.05204782262444496,
              -0.013108679093420506,
              0.03334375470876694,
              -0.002390730194747448,
              -0.011751020327210426,
              0.00510484678670764,
              -0.023776233196258545,
              -0.005194464232772589,
              -0.014875560067594051,
              0.02716895192861557,
              0.03226374462246895,
              -0.003374602645635605,
              -0.016376718878746033,
              -0.029693877324461937,
              -0.028234466910362244,
              -0.036705031991004944,
              0.0038275939878076315,
              -0.029631879180669785,
              0.004788929130882025,
              -0.038840021938085556,
              -0.015046420507133007,
              -0.020282752811908722,
              0.013890236616134644,
              0.01777530647814274,
              -0.007609158288687468,
              -0.030773449689149857,
              -0.010547507554292679,
              0.0233793705701828,
              0.043291639536619186,
              0.013139015063643456,
              0.04447978362441063,
              -0.07220641523599625,
              -0.07249622046947479,
              0.022275716066360474,
              -0.06531693041324615,
              -0.032686423510313034,
              0.038064345717430115,
              -0.045704588294029236,
              -0.03847859799861908,
              0.01072668470442295,
              0.007883218117058277,
              0.028576243668794632,
              0.012507680803537369,
              -0.017797010019421577,
              -0.01590593531727791,
              0.0033311962615698576,
              0.03751857951283455,
              -0.004912426229566336,
              -0.025259410962462425,
              0.016813427209854126,
              -0.04866871237754822,
              0.00529458886012435,
              0.010893156751990318,
              -0.02122911438345909,
              0.042988795787096024,
              0.07274286448955536,
              0.04195890203118324,
              0.028116507455706596,
              -0.05605887249112129,
              -0.024172233417630196,
              -0.029891228303313255,
              0.07920804619789124,
              -0.02122548408806324,
              0.06235514208674431,
              -0.004321357700973749,
              0.010457455180585384,
              -0.004922280553728342,
              -0.04222582280635834,
              0.0023403142113238573,
              -0.10098177194595337,
              0.03459026291966438,
              -0.042508117854595184,
              0.05254027992486954,
              -0.0015472692903131247,
              0.034225545823574066,
              9.015329414978623E-4,
              0.036106742918491364,
              -0.020383592694997787,
              0.01827470026910305,
              0.030233461409807205,
              -0.029822537675499916,
              -0.014411034062504768,
              -0.06045471131801605,
              -0.015648722648620605,
              -0.025578176602721214,
              0.023429621011018753,
              -0.017975667491555214,
              -0.028716886416077614,
              -0.003207929665222764,
              -0.017065903171896935,
              0.015578869730234146,
              0.014399557374417782,
              0.023419726639986038,
              -0.04374860227108002,
              0.020314671099185944,
              0.04689604043960571,
              0.02688250131905079,
              0.020884279161691666,
              0.08128175139427185,
              0.011314436793327332,
              -0.0076891290955245495,
              0.03466666862368584,
              0.06529142707586288,
              -0.06424009054899216,
              0.05166605859994888,
              0.04185827448964119,
              0.023509487509727478,
              2.80024076346308E-4,
              -0.018604515120387077,
              0.022089196369051933,
              -0.010123676620423794,
              -0.055718451738357544,
              0.01848188042640686,
              0.012731232680380344,
              -0.016937028616666794,
              0.004225423093885183,
              -0.06977805495262146,
              -0.023287490010261536,
              -0.02843780629336834,
              0.013410784304141998,
              0.011621790938079357,
              0.01293148472905159,
              0.0375509113073349,
              -0.06140265241265297,
              -0.0021604783833026886,
              0.06745246797800064,
              -0.03443201258778572,
              -0.0334535650908947,
              0.023608824238181114,
              0.03607463836669922,
              -0.020548764616250992,
              -0.02131039649248123,
              -0.019701587036252022,
              -0.025517640635371208,
              -0.04642932862043381,
              -0.030089091509580612,
              -0.025363491848111153,
              -0.010683069005608559,
              0.03507043048739433,
              -0.03610963746905327,
              0.027117788791656494,
              -0.0019830388482660055,
              -0.011308440007269382,
              0.006773937959223986,
              0.008450525812804699,
              0.009101086296141148,
              0.04312218725681305,
              0.007287461776286364,
              0.05203012004494667,
              -0.01096828281879425,
              0.00795696396380663,
              0.026924166828393936,
              0.07090552151203156,
              -0.005457364954054356,
              -0.0058134072460234165,
              0.003785892389714718,
              -0.002798940986394882,
              0.04981721192598343,
              -1.6014309949241579E-4,
              0.007286060601472855,
              0.04615606740117073,
              0.026715651154518127,
              -0.004669668152928352,
              0.015407285653054714,
              0.024610120803117752,
              -0.0399496890604496,
              0.009418908506631851,
              0.05828724801540375,
              -0.08725792169570923,
              0.004366677720099688,
              0.003547593019902706,
              -0.09646031260490417,
              0.034204475581645966,
              0.009172854945063591,
              -0.06569860875606537,
              -0.016844984143972397,
              -0.00920917745679617,
              0.012336615473031998,
              -0.06815491616725922,
              0.058942340314388275,
              -0.022285204380750656,
              -0.027809595689177513,
              0.07968471199274063,
              -0.00851940456777811,
              0.05657057464122772,
              0.04391127824783325,
              0.050416577607393265,
              0.01895858161151409,
              -0.021122625097632408,
              0.013366654515266418,
              -0.005351622588932514,
              0.005922893062233925,
              0.031276244670152664,
              0.05993828549981117,
              -0.0027322364039719105,
              0.01983916386961937,
              -0.007426951080560684,
              0.015058924444019794,
              0.01368370745331049,
              -0.006466512102633715,
              -0.03937428444623947,
              -0.0029280090238898993,
              -0.001402202993631363,
              -0.056937236338853836,
              -0.020195817574858665,
              -0.01311954203993082,
              -0.015490143559873104,
              0.038828928023576736,
              -0.01901676505804062,
              0.03457597643136978,
              0.0024430372286587954,
              -0.022087259218096733,
              -0.008862466551363468,
              -0.01571905054152012,
              -0.0020897581707686186,
              -0.035522133111953735,
              -0.002608282258734107,
              0.016686834394931793,
              -0.005493247415870428,
              -0.04099005460739136,
              -0.02845730446279049,
              -0.036476559937000275,
              0.011666457168757915,
              0.016553135588765144,
              -0.05784061923623085,
              -0.0652175173163414,
              -0.0071614887565374374,
              -0.007244362495839596,
              0.021487941965460777,
              0.006154536735266447,
              -0.0916062444448471,
              -0.019401250407099724,
              -0.05500561371445656,
              0.002982144709676504,
              -0.04190979525446892,
              -0.06965427845716476,
              -0.028376193717122078,
              0.05127505958080292,
              0.004729508887976408,
              -0.0316905677318573,
              0.0020178239792585373,
              0.056908976286649704,
              -0.018338939175009727,
              -0.054298292845487595,
              0.0324212983250618,
              0.03064534440636635,
              0.015107721090316772,
              0.03876907005906105,
              0.00971344392746687,
              0.013411258347332478,
              -0.014164578169584274,
              0.004027730785310268,
              -0.016149388626217842,
              0.020482635125517845,
              -0.011334002017974854,
              -0.020127639174461365,
              -0.021451298147439957,
              -0.012991448864340782,
              -0.022759951651096344,
              -0.05815110728144646,
              -0.004877013154327869,
              0.040599316358566284,
              -0.018549369648098946,
              -0.004338743165135384,
              -0.017436085268855095,
              0.05367977172136307,
              -0.022510215640068054,
              -0.033667903393507004,
              -0.05578656122088432,
              0.01898133009672165,
              -0.017282024025917053,
              -0.013106158934533596,
              -4.901572247035801E-4,
              0.03264642134308815,
              -0.0054388935677707195,
              -0.002707832958549261,
              -0.004919688683003187,
              0.019246863201260567,
              0.008252264000475407,
              0.03798236697912216,
              0.009881830774247646,
              -0.029089046642184258,
              -0.012963120825588703,
              -0.0077279494144022465,
              -0.032239679247140884,
              -0.06379038095474243,
              0.006098140962421894,
              -0.017537349835038185,
              0.025702184066176414,
              -0.05215983837842941,
              -0.07886405289173126,
              -0.03811537101864815,
              -0.05920496955513954,
              0.009311707690358162,
              0.03325895592570305,
              -0.08422931283712387,
              -0.04955240711569786,
              0.01154137123376131,
              -0.03530863672494888,
              0.03669361397624016,
              -0.017581146210432053,
              -0.05146535485982895,
              -0.007741314359009266,
              0.06193770840764046,
              -0.08581380546092987,
              0.024976253509521484,
              0.005632752552628517,
              0.005222771782428026,
              -0.010005354881286621,
              -0.002821624046191573,
              0.0693325623869896,
              -0.0076995063573122025,
              0.005423638503998518,
              -0.054154567420482635,
              0.03597250208258629,
              -0.012501224875450134,
              -0.02671186439692974,
              -0.017813438549637794,
              -0.0054998742416501045,
              -0.059303488582372665,
              0.0025512883439660072,
              -0.0011480646207928658,
              -0.03571983054280281,
              -0.04896396026015282,
              -0.09148480743169785,
              -0.0342927910387516,
              0.0461566261947155,
              -0.004250727128237486,
              0.01657291315495968,
              8.64820962306112E-4,
              -0.026587601751089096,
              -0.04927249252796173,
              -0.022625109180808067,
              0.013518230058252811,
              -0.025199290364980698,
              0.03221964091062546,
              0.018702294677495956,
              -0.028577078133821487,
              0.010630950331687927,
              0.05955767259001732,
              0.026981081813573837,
              0.056841954588890076,
              0.04385489970445633,
              0.02783040888607502,
              0.0026413211598992348,
              -0.018125765025615692,
              0.0062584956176579,
              -0.01104281097650528,
              -0.05068761482834816,
              0.013052505441009998,
              -0.005176009144634008,
              -0.045710209757089615,
              -0.03347615897655487,
              0.016509508714079857,
              0.01860654167830944,
              -0.058881331235170364,
              -0.01663593389093876,
              -0.00913118664175272,
              0.029441703110933304,
              -0.042088549584150314,
              -0.02020048163831234,
              -7.327155617531389E-5,
              0.0027066597249358892,
              -0.017766136676073074,
              0.01893959753215313,
              0.010561319999396801,
              -0.032112155109643936,
              -0.031169435009360313,
              -0.05231208726763725,
              -0.024591410532593727,
              -0.01836126670241356,
              -0.04084694758057594,
              -0.02742585726082325,
              -0.05270189419388771,
              0.03560616075992584,
              -0.008076970465481281,
              0.03954879939556122,
              0.002586710499599576,
              -0.034050315618515015,
              -0.054336078464984894,
              -0.026206130161881447,
              0.006591221783310175,
              0.12173052877187729,
              -0.01291566714644432,
              -0.011646006256341934,
              -0.008545618504285812,
              -0.025263898074626923,
              0.027078114449977875,
              -0.05730113014578819,
              -0.021379245445132256,
              -0.0534614734351635,
              -0.0925782099366188,
              0.0035546873696148396,
              -0.023436522111296654,
              -0.013270039111375809,
              -0.01609276421368122,
              0.02530549094080925,
              -0.05153390020132065,
              -0.0025559752248227596,
              0.04344082251191139,
              0.03166522458195686,
              -0.003970142919570208,
              -0.041173163801431656,
              -0.008153715170919895,
              -0.01252196729183197,
              -0.005032568704336882,
              -0.010983969084918499,
              -0.04838772863149643,
              0.036790620535612106,
              -0.032111506909132004,
              0.02624266967177391,
              0.007169485092163086,
              -0.015838883817195892,
              -0.020826391875743866,
              -0.013012157753109932,
              0.030507555231451988,
              0.020926177501678467,
              0.007212976459413767,
              -0.026367930695414543,
              0.006368271075189114,
              -0.014868227764964104,
              0.013676246628165245,
              -0.05282299220561981,
              0.0016796501586213708,
              -0.030887385830283165,
              0.07421945780515671,
              0.02260892651975155,
              0.001014098757877946,
              -0.031524207442998886,
              0.04968776926398277,
              0.0038454041350632906,
              -0.030945273116230965,
              0.05012500658631325,
              0.007658956106752157,
              0.03229781985282898,
              -0.05805704742670059,
              -0.016086578369140625,
              0.010701174847781658,
              0.04943252354860306,
              -0.016651220619678497,
              -0.0020131885539740324,
              -0.003596391063183546,
              -0.011707544326782227,
              -0.013859296217560768,
              -0.06274645030498505,
              0.05563386157155037,
              -0.021949082612991333,
              -0.015677213668823242,
              0.040512457489967346,
              -0.002353618387132883,
              -0.07712150365114212,
              -0.06651424616575241,
              -0.018211044371128082,
              -0.009895510971546173,
              0.07805908471345901,
              0.014922992326319218,
              0.019958775490522385,
              -0.014708020724356174,
              -0.034308262169361115,
              0.02542903460562229,
              -0.05652077868580818,
              0.025710072368383408,
              -0.03929032012820244,
              -0.04080009087920189,
              -8.951686904765666E-4,
              -0.022379541769623756,
              0.00623506773263216,
              -0.016342109069228172,
              -0.0164885725826025,
              -0.03005092591047287,
              0.051311783492565155,
              0.0065196240320801735,
              0.0036646423395723104,
              -0.009537234902381897,
              -0.030828313902020454,
              -0.01650034636259079,
              0.023286160081624985,
              -0.04858037084341049,
              -0.017625801265239716,
              0.03322500362992287,
              -0.07320718467235565,
              -0.01779572106897831 ]
            </p>
	    </div>
    </div>
  </div>
  <div class="col d-flex justify-content-end">
      <div class="card text-white bg-primary mb-2" style="max-width: 19rem;">
        <div class="card-header">Vector B</div>
        <div class="card-body card-scroll">
          <div class="card-text text-center">
            "texto_vector" : [
            -0.05458306893706322,
            -0.0242771003395319,
            0.05749548599123955,
            0.040941737592220306,
            0.048240549862384796,
            0.033665213733911514,
            -4.990776869817637E-5,
            -0.04955018684267998,
            -0.04312007501721382,
            0.045037366449832916,
            -0.0019307833863422275,
            0.05722219496965408,
            0.05931229516863823,
            -0.050443969666957855,
            -0.055421337485313416,
            0.029473310336470604,
            -0.0014226067578420043,
            -0.019755924120545387,
            0.05758955702185631,
            0.06483844667673111,
            0.02704840525984764,
            -0.037738244980573654,
            0.008766965940594673,
            0.0542733408510685,
            -0.06608119606971741,
            0.037907931953668594,
            0.0035825050435960293,
            0.04566086828708649,
            0.054632510989904404,
            -0.024335257709026337,
            0.012438074685633183,
            -0.06088132783770561,
            0.058283109217882156,
            -0.048625607043504715,
            -0.021566854789853096,
            -0.06241004914045334,
            -0.021291302517056465,
            0.03529366850852966,
            0.011286756955087185,
            -0.04233761131763458,
            0.0360080860555172,
            0.04466450214385986,
            0.06010836362838745,
            -0.0021447590552270412,
            0.05542602762579918,
            0.015108807012438774,
            0.06623265892267227,
            0.03065974824130535,
            -0.02837233431637287,
            -0.009827329777181149,
            -0.061059076339006424,
            -0.05665414035320282,
            -0.01049425546079874,
            0.05678979307413101,
            -0.03353065252304077,
            -0.04334228113293648,
            0.05147498473525047,
            -0.06172582879662514,
            0.06543906033039093,
            0.011095450259745121,
            0.01615048199892044,
            -0.016996925696730614,
            0.01655888743698597,
            -0.04765201732516289,
            -0.04360095039010048,
            0.0364382266998291,
            0.028895584866404533,
            -0.059288110584020615,
            0.011096504516899586,
            -0.026944462209939957,
            0.010565870441496372,
            0.06066572666168213,
            -0.05001083388924599,
            -0.005445745307952166,
            0.04317991062998772,
            0.05250086635351181,
            0.024395374581217766,
            -0.0397111140191555,
            0.03574279695749283,
            -0.06613918393850327,
            -0.06622528284788132,
            0.06623157858848572,
            0.02463589422404766,
            0.03271046280860901,
            -0.027951732277870178,
            -0.04196606203913689,
            0.021825196221470833,
            0.031238865107297897,
            -0.06428442150354385,
            -0.004694421775639057,
            -0.05885881185531616,
            0.03601115942001343,
            -0.030699418857693672,
            0.03400794789195061,
            0.0617920458316803,
            -0.0309162437915802,
            0.06266403943300247,
            0.0635576918721199,
            0.04707489162683487,
            0.059246573597192764,
            -0.050372954457998276,
            0.029806869104504585,
            -0.05644571781158447,
            0.061660464853048325,
            0.04933082312345505,
            0.03121665120124817,
            -0.02811972238123417,
            -0.03987133502960205,
            0.011507350951433182,
            0.06530853360891342,
            0.06142327934503555,
            -5.3449347615242E-4,
            -0.046305008232593536,
            0.03355163335800171,
            0.059540167450904846,
            -0.01592453010380268,
            0.06236836686730385,
            0.03949616849422455,
            -0.02494029887020588,
            0.05988090857863426,
            -0.021390115842223167,
            0.05587686598300934,
            0.029848122969269753,
            -0.015813075006008148,
            -0.05252283811569214,
            0.05316368117928505,
            0.006942316424101591,
            0.0635203868150711,
            -0.0035276589915156364,
            0.03053082525730133,
            -0.018174130469560623,
            -0.001381189445964992,
            -0.029717890545725822,
            0.05886223167181015,
            -0.043356187641620636,
            0.06595980376005173,
            -0.02665184810757637,
            0.016349248588085175,
            0.06388968229293823,
            0.048802297562360764,
            0.052194297313690186,
            0.04134618490934372,
            0.01802850142121315,
            -0.014546899124979973,
            -0.02043282799422741,
            -0.03768681734800339,
            -0.004069720394909382,
            0.05076424032449722,
            0.05798995867371559,
            0.050500575453042984,
            0.02626587450504303,
            0.0330839641392231,
            0.005614544730633497,
            0.008952224627137184,
            -0.012082376517355442,
            -0.044669635593891144,
            0.04852721467614174,
            -4.2862174450419843E-4,
            0.026875995099544525,
            -0.0628892108798027,
            -0.01544131338596344,
            -0.06319902837276459,
            0.025819867849349976,
            0.05307910963892937,
            -0.05979357287287712,
            -0.029114434495568275,
            0.015448618680238724,
            0.010094497352838516,
            -0.026377098634839058,
            0.018038395792245865,
            0.06418263912200928,
            -0.006502707023173571,
            -0.06620059162378311,
            -0.008420279249548912,
            0.023211851716041565,
            0.025494642555713654,
            -0.03784456476569176,
            -0.05274100974202156,
            0.015756381675601006,
            -0.06413333863019943,
            0.0594659298658371,
            -0.05273567512631416,
            9.787717135623097E-4,
            -0.04961526021361351,
            -0.0511256568133831,
            0.06541439890861511,
            0.04324886202812195,
            0.06455305963754654,
            -0.01493764016777277,
            -0.016393616795539856,
            -0.009831791743636131,
            -0.045517802238464355,
            -0.03157291188836098,
            -0.0545751191675663,
            -0.019966665655374527,
            0.048127684742212296,
            -0.044809941202402115,
            0.02785865031182766,
            -0.0455305241048336,
            0.04599422961473465,
            0.03567303717136383,
            -0.057744089514017105,
            -0.04126322641968727,
            -0.039144355803728104,
            0.04460209608078003,
            0.044181082397699356,
            -0.041598767042160034,
            -0.007063379976898432,
            0.057636480778455734,
            0.04573174938559532,
            -0.02600364200770855,
            0.0649920403957367,
            0.041255462914705276,
            -0.020443812012672424,
            0.053345490247011185,
            -0.057562172412872314,
            -0.06388892978429794,
            0.042598653584718704,
            -0.01102721132338047,
            -0.04427424445748329,
            -0.061987124383449554,
            0.04925069957971573,
            0.022933870553970337,
            0.02696078270673752,
            -0.06549540907144547,
            -0.05800174921751022,
            -0.045648444443941116,
            -0.06358364969491959,
            -0.04633275792002678,
            0.020174354314804077,
            0.024083564057946205,
            -0.06369072198867798,
            -0.027401428669691086,
            0.011474854312837124,
            0.05119821056723595,
            -0.009974051266908646,
            -0.014016115106642246,
            -0.004267262760549784,
            0.05073568597435951,
            -0.0030024268198758364,
            0.04351930692791939,
            0.010542275384068489,
            -0.010406197048723698,
            -0.0453241802752018,
            0.013540931046009064,
            0.06514547020196915,
            0.06021137163043022,
            -0.04424810782074928,
            0.03945206478238106,
            -0.04794447869062424,
            0.06067425012588501,
            0.03519701212644577,
            0.036678947508335114,
            0.05660168454051018,
            -0.03642554208636284,
            -0.013998392969369888,
            0.02863187901675701,
            0.05018239840865135,
            0.0387759655714035,
            0.055409207940101624,
            0.06516404449939728,
            0.06473807990550995,
            0.033331938087940216,
            0.010072359815239906,
            0.06437269598245621,
            -0.06621275097131729,
            0.047118179500103,
            0.011703248135745525,
            -0.05949234589934349,
            0.03845825046300888,
            -0.03409166261553764,
            -0.05994367599487305,
            0.02446102909743786,
            -0.04455505311489105,
            6.193523295223713E-4,
            -0.06250389665365219,
            0.028007298707962036,
            0.05851545184850693,
            -0.020552854984998703,
            0.03261175751686096,
            -0.06158748269081116,
            0.0016588023863732815,
            0.04849161580204964,
            0.04037359729409218,
            -0.03015293926000595,
            -0.060741111636161804,
            -0.06460165232419968,
            -0.056918058544397354,
            0.05246053263545036,
            -0.02396288514137268,
            0.009488898329436779,
            -0.009459818713366985,
            -0.0034960710909217596,
            0.022857924923300743,
            0.026543784886598587,
            -0.02665579877793789,
            -0.009037717245519161,
            -0.05974169820547104,
            0.010303087532520294,
            -0.03728262335062027,
            0.03243652358651161,
            0.060470033437013626,
            0.006741844117641449,
            -0.020383041352033615,
            -0.06161252781748772,
            -0.06030132621526718,
            -0.023683996871113777,
            -0.023798737674951553,
            0.05044862627983093,
            -0.027179637923836708,
            -0.05911810323596001,
            4.8527942271903157E-4,
            0.06333126872777939,
            -0.062489915639162064,
            0.06007939949631691,
            0.05324269458651543,
            -0.06289077550172806,
            -0.049711618572473526,
            0.03818514198064804,
            0.031115075573325157,
            0.012683534063398838,
            0.05442747846245766,
            0.03496114909648895,
            -0.0415264368057251,
            0.050806574523448944,
            -0.002119651762768626,
            -0.0360448956489563,
            0.06256480515003204,
            0.040744632482528687,
            -0.031058747321367264,
            -0.056170832365751266,
            0.04682227596640587,
            0.05871741473674774,
            -0.059255730360746384,
            0.06623268127441406,
            -0.06615789234638214,
            -0.049274250864982605,
            -0.06499031186103821,
            -0.06311611086130142,
            0.06098194792866707,
            -0.04255817085504532,
            0.009273185394704342,
            0.007585827726870775,
            -0.06486565619707108,
            0.024676628410816193,
            -0.029630297794938087,
            0.05491120368242264,
            0.045998554676771164,
            0.059823084622621536,
            -0.04527074843645096,
            0.007247435860335827,
            0.04742888733744621,
            0.03510656580328941,
            0.03719210624694824,
            0.05065607279539108,
            0.05313076451420784,
            0.037205856293439865,
            0.05955713614821434,
            -0.06174152344465256,
            0.06118999421596527,
            0.05689161270856857,
            -0.03229500725865364,
            -0.0358203686773777,
            0.04286542162299156,
            0.0651215985417366,
            -0.06425077468156815,
            -0.04020005837082863,
            0.04717518389225006,
            -0.05225905403494835,
            -0.027509117498993874,
            0.039977069944143295,
            -0.010260156355798244,
            -0.032520439475774765,
            -0.004806855693459511,
            -0.022242436185479164,
            -0.06281471997499466,
            0.04149144887924194,
            0.0163738913834095,
            -0.054553017020225525,
            0.06328500062227249,
            0.053306397050619125,
            -0.046013910323381424,
            -0.06360756605863571,
            0.06391942501068115,
            -0.048766445368528366,
            0.05336760729551315,
            0.05571276322007179,
            -0.06539086997509003,
            0.04878929257392883,
            -0.05130123347043991,
            -0.05142088606953621,
            0.061636585742235184,
            0.054779570549726486,
            0.01377791166305542,
            -0.04306376725435257,
            0.06548260152339935,
            0.02392951399087906,
            -0.0434960313141346,
            -0.053627509623765945,
            -0.003505798988044262,
            0.029141534119844437,
            0.06460817903280258,
            0.05417950078845024,
            0.030814876779913902,
            0.04096044600009918,
            0.014211722649633884,
            -0.01342583168298006,
            -0.025451626628637314,
            -0.04101330414414406,
            -0.0585804209113121,
            0.06150506064295769,
            -0.04333801567554474,
            -0.06090797483921051,
            0.06348222494125366,
            0.05032264441251755,
            0.050097376108169556,
            -0.008897221647202969,
            -0.03345648944377899,
            -0.04645868018269539,
            -0.04432166740298271,
            -0.06307484209537506,
            0.04815087839961052,
            -0.024798810482025146,
            0.050056006759405136,
            0.011301959864795208,
            -0.035448331385850906,
            -0.05362171307206154,
            0.04215248301625252,
            -0.019894784316420555,
            0.03540677949786186,
            -0.0614054836332798,
            0.02850646711885929,
            0.007195016369223595,
            0.012291749939322472,
            -0.04779236763715744,
            -0.010203054174780846,
            -0.03494517132639885,
            -0.03164130076766014,
            -0.06443224102258682,
            -0.012646260671317577,
            0.0580115020275116,
            -0.04709550738334656,
            0.005944531410932541,
            -0.04751155897974968,
            -0.06576438248157501,
            -0.05862841010093689,
            0.019931327551603317,
            -0.06622979044914246,
            -0.007539454381912947,
            -0.04978903755545616,
            -0.05509738251566887,
            -0.01302043255418539,
            0.06608235836029053,
            0.03262283653020859,
            -0.06534070521593094,
            0.058099761605262756,
            0.003839099546894431,
            -0.0020676678977906704,
            -0.06233758479356766,
            -0.06169756501913071,
            -0.030978625640273094,
            -0.06081996113061905,
            0.028259772807359695,
            0.03939829394221306,
            0.05829942226409912,
            -0.059546638280153275,
            0.01420486718416214,
            0.04049108922481537,
            0.065772645175457,
            0.04404480382800102,
            0.006966476794332266,
            -0.060649268329143524,
            -0.03313229978084564,
            -0.05608546733856201,
            -0.055239517241716385,
            0.00901792012155056,
            0.02921852096915245,
            0.03310808166861534,
            -0.0475526787340641,
            -0.01189565658569336,
            0.0508962906897068,
            0.06496334075927734,
            -0.046557195484638214,
            0.06622245162725449,
            -0.06621697545051575,
            -0.0150234904140234,
            -0.06459667533636093,
            -0.06307445466518402,
            -0.05500219389796257,
            0.054216403514146805,
            0.03066953457891941,
            -0.005695333704352379,
            0.006531097926199436,
            -0.029575448483228683,
            -0.01339000929147005,
            -0.05693817511200905,
            0.05631480738520622,
            -0.042532745748758316,
            -0.023144850507378578,
            0.05172630399465561,
            0.049100641161203384,
            0.050954122096300125,
            0.06404875218868256,
            0.01788383722305298,
            -0.06439021229743958,
            -0.06379501521587372,
            0.03024795465171337,
            0.04065626859664917,
            0.06446001678705215,
            -0.011889323592185974,
            0.007201530504971743,
            -0.03956682235002518
          ],
          "texto_vector_bert" : [
            -0.04014807194471359,
            0.06350439786911011,
            -0.003440252738073468,
            0.02794548310339451,
            -0.03398886322975159,
            -0.05451902747154236,
            0.03048444166779518,
            0.05467773973941803,
            -0.0057457974180579185,
            -0.01073355320841074,
            0.012415597215294838,
            -0.03244753181934357,
            0.0028748607728630304,
            0.009236615151166916,
            0.022432511672377586,
            -0.05696331337094307,
            0.06994237005710602,
            0.05781373009085655,
            -0.01601245254278183,
            -0.012973175384104252,
            -0.011636694893240929,
            0.011979389935731888,
            -0.02996138110756874,
            -0.026754066348075867,
            0.05646037682890892,
            -0.1313861608505249,
            0.011682949960231781,
            0.01761982962489128,
            -2.7116133423987776E-5,
            -0.0299827940762043,
            -0.007833138108253479,
            0.02403481863439083,
            0.07021152973175049,
            -0.006860700901597738,
            -0.010963461361825466,
            0.005291461478918791,
            0.034831151366233826,
            0.04274025186896324,
            -0.044568922370672226,
            -0.0173397995531559,
            -0.0016961430665105581,
            0.006788767874240875,
            0.04008464887738228,
            0.005798457656055689,
            0.041685473173856735,
            0.11251090466976166,
            0.04450632259249687,
            -0.012336756102740765,
            -0.014366631396114826,
            0.03069843351840973,
            -0.0070434194058179855,
            -0.02553349919617176,
            0.017414966598153114,
            0.051680631935596466,
            -0.06871291995048523,
            0.017033416777849197,
            -0.057790160179138184,
            0.04300391301512718,
            -0.05611607804894447,
            5.416782223619521E-4,
            0.07536882907152176,
            0.03166298568248749,
            -0.002213637111708522,
            0.032781753689050674,
            -0.06810353696346283,
            -0.013201386667788029,
            -0.02130020409822464,
            0.0033650812692940235,
            -0.023963354527950287,
            -0.015348193235695362,
            0.013244613073766232,
            -0.0353696309030056,
            -0.020798441022634506,
            0.0472736731171608,
            0.05437665432691574,
            0.019394194707274437,
            0.026500066742300987,
            0.01238987222313881,
            0.020253298804163933,
            -0.008286917582154274,
            0.02624216303229332,
            0.044609881937503815,
            -0.05185196176171303,
            0.05085443705320358,
            0.015113744884729385,
            0.013701156713068485,
            -7.721895235590637E-4,
            -0.040068935602903366,
            -0.027469689026474953,
            0.06087567284703255,
            -0.06627581268548965,
            0.009765468537807465,
            -0.039747994393110275,
            -0.0036117739509791136,
            -7.978082867339253E-4,
            -0.06636714190244675,
            0.07306515425443649,
            -0.07576029747724533,
            0.019194288179278374,
            -0.05282825976610184,
            -0.012642351910471916,
            -0.051028892397880554,
            -0.003525846404954791,
            -0.0411011204123497,
            -0.008217314258217812,
            -0.019094539806246758,
            -0.05186954513192177,
            -0.03977129980921745,
            0.03901863843202591,
            -0.030663292855024338,
            -0.047521285712718964,
            0.016244469210505486,
            -0.03558894246816635,
            0.039332062005996704,
            -0.02223372459411621,
            -0.04285997897386551,
            0.057922977954149246,
            0.030293473973870277,
            -0.03557868301868439,
            0.006161620374768972,
            -0.010009164921939373,
            0.08559491485357285,
            -0.08087606728076935,
            0.08397538214921951,
            0.02058877982199192,
            0.07450387626886368,
            0.04613468423485756,
            -0.0170034971088171,
            0.034609485417604446,
            -0.01975330151617527,
            -0.0677817240357399,
            -0.04647206887602806,
            0.038698576390743256,
            0.05582533776760101,
            0.035190798342227936,
            -0.02147817425429821,
            0.035252708941698074,
            0.0016192735638469458,
            0.011983389966189861,
            0.019466256722807884,
            -0.024141989648342133,
            0.025015654042363167,
            0.07363041490316391,
            0.02790944091975689,
            -0.0032552029006183147,
            0.013713289052248001,
            -0.058895304799079895,
            -0.03742685541510582,
            -0.005489853210747242,
            0.028817491605877876,
            0.01269378699362278,
            0.004940570332109928,
            -1.516859047114849E-4,
            0.06281036138534546,
            -0.013361068442463875,
            0.02681783027946949,
            -0.01058968435972929,
            -0.04767909646034241,
            -0.045123953372240067,
            -0.022919563576579094,
            0.019979266449809074,
            0.01948072388768196,
            -0.007974142208695412,
            0.019005488604307175,
            -0.006929977796971798,
            -0.02943364717066288,
            -0.0028772708028554916,
            -0.05352706462144852,
            0.015602844767272472,
            -0.07211162149906158,
            0.019620325416326523,
            0.007082079071551561,
            -0.011558915488421917,
            0.02600010484457016,
            0.00876048393547535,
            -0.013985639438033104,
            0.03176712989807129,
            -0.0240981113165617,
            -0.05380278825759888,
            -0.025019651278853416,
            -0.02532847225666046,
            -0.0056432816199958324,
            -0.011014791205525398,
            -0.033276721835136414,
            -0.004314491059631109,
            0.019223351031541824,
            -0.0215684175491333,
            0.08537430316209793,
            -7.27831560652703E-4,
            0.01618948020040989,
            0.02999410405755043,
            -0.05589291825890541,
            0.022389084100723267,
            -0.019843747839331627,
            0.02954683266580105,
            -0.01578982174396515,
            -0.02072792872786522,
            0.05542095750570297,
            0.02159031666815281,
            0.07312008738517761,
            0.021233651787042618,
            -0.013511632569134235,
            -0.029820594936609268,
            -0.0390862412750721,
            -0.04575574770569801,
            0.06792670488357544,
            0.04964172840118408,
            -0.012764768674969673,
            -0.0077492184937000275,
            0.038593120872974396,
            0.0010554555337876081,
            -0.032349590212106705,
            -0.026566598564386368,
            -0.04230089485645294,
            -0.06824038922786713,
            0.02304590679705143,
            0.08107864856719971,
            -0.041665300726890564,
            -0.0035397515166550875,
            -0.0041693104431033134,
            -0.02947077713906765,
            -0.004784733057022095,
            -0.00977398082613945,
            0.025771483778953552,
            0.020144889131188393,
            -0.008801423013210297,
            0.017103010788559914,
            0.05529371276497841,
            -0.05759209766983986,
            -0.006997380405664444,
            -0.07852716743946075,
            -0.034390293061733246,
            -0.05019925907254219,
            -0.015514791943132877,
            0.029533471912145615,
            0.059214506298303604,
            -0.0037930586840957403,
            -0.011174953542649746,
            0.05250624939799309,
            0.008929472416639328,
            8.952101343311369E-4,
            0.022260522469878197,
            0.02502904087305069,
            -0.03577806055545807,
            -0.009169098921120167,
            0.024404926225543022,
            -0.014213853515684605,
            0.027350520715117455,
            -0.04643954336643219,
            0.02521521970629692,
            -0.04609796404838562,
            -0.008855282329022884,
            0.08538977801799774,
            -0.018526313826441765,
            -0.04831865429878235,
            0.017319178208708763,
            -0.015510023571550846,
            3.6059776903130114E-4,
            -0.005706407595425844,
            -0.008747676387429237,
            0.0025005750358104706,
            0.018207620829343796,
            0.009477566927671432,
            0.08157724887132645,
            -0.06218448653817177,
            -0.020312422886490822,
            -0.031607724726200104,
            0.009825036861002445,
            0.023171143606305122,
            -0.025327781215310097,
            -0.002788255922496319,
            0.06633193045854568,
            0.009511951357126236,
            0.004564517177641392,
            -0.019998911768198013,
            0.034745004028081894,
            -0.03120654635131359,
            -0.06865015625953674,
            0.03717035800218582,
            0.015686996281147003,
            -0.07829456776380539,
            -0.03963407874107361,
            0.004149377346038818,
            6.239910726435483E-4,
            0.02250678651034832,
            0.026842523366212845,
            -0.04811747372150421,
            -0.01108573004603386,
            0.028907446190714836,
            -0.024573443457484245,
            -0.032022375613451004,
            0.005885342136025429,
            -0.04249245673418045,
            0.016284437850117683,
            -0.05356527119874954,
            0.04119846969842911,
            0.025986695662140846,
            0.012267038226127625,
            -0.0031092343851923943,
            -0.03716614097356796,
            -0.028664838522672653,
            -0.012435727752745152,
            -0.01697690598666668,
            -0.0028942700009793043,
            0.0018186235101893544,
            -0.06272222101688385,
            -0.020870862528681755,
            -0.02151014469563961,
            -0.006935367360711098,
            0.03307225927710533,
            -0.03160645067691803,
            0.04572713002562523,
            -0.012857041321694851,
            -0.017614848911762238,
            0.07182148844003677,
            0.0075579979456961155,
            0.054440196603536606,
            -0.11143810302019119,
            -0.022831600159406662,
            0.03964948654174805,
            -0.015652470290660858,
            -0.03204164654016495,
            0.052987389266490936,
            0.022289933636784554,
            0.008250798098742962,
            -0.0027150269597768784,
            0.008544460870325565,
            0.009142437018454075,
            0.020747138187289238,
            -0.01076325960457325,
            -0.024700822308659554,
            0.001491732895374298,
            0.016519727185368538,
            0.0024676485918462276,
            -0.008393071591854095,
            0.01169904787093401,
            -0.02528955601155758,
            -0.04722059518098831,
            -0.01137429941445589,
            -0.018383052200078964,
            0.01412871666252613,
            0.06434450298547745,
            0.030329016968607903,
            0.03224511817097664,
            -0.067094586789608,
            -0.01793418824672699,
            -0.022512726485729218,
            0.07853064686059952,
            -0.004893960431218147,
            0.06582946330308914,
            -0.010081907734274864,
            0.0478459931910038,
            0.037323761731386185,
            -0.048693928867578506,
            -0.001541629433631897,
            -0.0961853489279747,
            0.015125160105526447,
            -0.037600137293338776,
            0.04577459767460823,
            -0.019784050062298775,
            0.01965436153113842,
            -0.007398609537631273,
            0.04294614866375923,
            -0.015105915255844593,
            -0.010642137378454208,
            0.031782135367393494,
            -0.022372663021087646,
            -0.021525831893086433,
            -0.02842491678893566,
            -0.005992738995701075,
            -0.0032427653204649687,
            -0.003781355218961835,
            -0.03253992274403572,
            -0.06125979870557785,
            0.03049481101334095,
            0.0035387477837502956,
            0.004581073764711618,
            0.02099323645234108,
            -0.03674827888607979,
            0.01688365265727043,
            0.04873400554060936,
            0.04424243047833443,
            0.03881140053272247,
            0.03011619858443737,
            0.05717726796865463,
            0.02580750174820423,
            -0.018146023154258728,
            0.009183449670672417,
            0.025547759607434273,
            -0.047045595943927765,
            0.03936352953314781,
            0.026071786880493164,
            0.03126666322350502,
            -0.00840314943343401,
            -0.04987967759370804,
            -0.012256434187293053,
            0.026104779914021492,
            -0.08264754712581635,
            -0.010844996199011803,
            0.0317116416990757,
            0.03524724394083023,
            -0.03445686027407646,
            -0.056563038378953934,
            -0.008503491058945656,
            -7.14148220140487E-4,
            0.07250214368104935,
            -0.011671804822981358,
            0.0030989483930170536,
            0.02104799821972847,
            -0.05407984182238579,
            0.003305399091914296,
            0.05938800424337387,
            0.032645806670188904,
            -0.02115556225180626,
            0.012662776745855808,
            0.019329873844981194,
            -0.006198704708367586,
            0.0064579155296087265,
            -0.016774555668234825,
            0.010964141227304935,
            -0.011474685743451118,
            0.009638427756726742,
            -0.018433818593621254,
            -0.05611134693026543,
            0.003807334927842021,
            -0.0139313954859972,
            0.06005305424332619,
            -0.02447904460132122,
            -0.01858002319931984,
            -0.021940959617495537,
            -0.021848052740097046,
            0.018853796645998955,
            0.045127321034669876,
            0.020944777876138687,
            0.04461858421564102,
            0.01450312789529562,
            0.023903030902147293,
            0.060699205845594406,
            -0.0052716382779181,
            -0.005612256936728954,
            -0.029341422021389008,
            -0.0105965007096529,
            0.00932934321463108,
            -0.01292465440928936,
            -0.009404941461980343,
            0.0072928559966385365,
            0.016778700053691864,
            0.01071291696280241,
            0.024016529321670532,
            0.02334238402545452,
            0.035809747874736786,
            -0.044105835258960724,
            0.03541446477174759,
            0.018444616347551346,
            -0.05837491527199745,
            0.015339240431785583,
            0.031847622245550156,
            -0.07907630503177643,
            0.02603268064558506,
            0.0052906544879078865,
            -0.06766282767057419,
            0.006377887912094593,
            -0.0429595410823822,
            -0.031961746513843536,
            -0.063389353454113,
            0.02121267467737198,
            -0.011863967403769493,
            -0.003298159223049879,
            0.03774358704686165,
            -0.01559844147413969,
            0.04123012721538544,
            0.07299406826496124,
            0.048374027013778687,
            -0.006350276526063681,
            -0.05506028234958649,
            0.03319057077169418,
            -0.011462830938398838,
            0.006316498853266239,
            0.027399301528930664,
            0.031079620122909546,
            -0.02424737438559532,
            0.03381036967039108,
            -0.023324700072407722,
            -0.015192187391221523,
            0.04538140818476677,
            0.04873906821012497,
            -0.01191628910601139,
            -0.01858552359044552,
            -0.04795286804437637,
            -0.05019131302833557,
            -0.025679489597678185,
            -0.022568801417946815,
            -0.03263973817229271,
            0.019321205094456673,
            -0.019516171887516975,
            0.022988423705101013,
            0.022733014076948166,
            -0.030605820938944817,
            -0.04528752341866493,
            -0.021954817697405815,
            0.004092267248779535,
            -0.029638903215527534,
            -0.008519242517650127,
            -0.042238667607307434,
            -0.004279923625290394,
            -0.08236604183912277,
            -0.033098526298999786,
            -0.02581988461315632,
            -0.03575991094112396,
            -0.01330966129899025,
            -0.027415037155151367,
            -0.06901469081640244,
            0.006373848300427198,
            -0.007336043287068605,
            -0.005827649962157011,
            -0.011378196999430656,
            -0.05267959460616112,
            -0.013386973179876804,
            -0.055877435952425,
            0.02839149534702301,
            -0.004782421514391899,
            -0.026170121505856514,
            -0.030340103432536125,
            0.052217643707990646,
            -0.03674418106675148,
            0.011673773638904095,
            -0.010980089195072651,
            0.00597034627571702,
            -0.014593968167901039,
            -0.045459140092134476,
            0.04502063989639282,
            0.045221321284770966,
            0.0025771744549274445,
            0.03781598061323166,
            -0.0018785839201882482,
            -0.036021117120981216,
            -0.025506818667054176,
            0.02565736323595047,
            0.02464739978313446,
            0.017624491825699806,
            0.017948560416698456,
            -0.005196221172809601,
            0.007530209142714739,
            -0.030479008331894875,
            -0.012310780584812164,
            -0.02367270365357399,
            -0.028981518000364304,
            4.736276459880173E-4,
            -0.02174607291817665,
            -0.009569988586008549,
            -0.015624619089066982,
            0.03125586733222008,
            -0.045342616736888885,
            -0.03792039304971695,
            -0.03565748408436775,
            0.03384844958782196,
            0.008779381401836872,
            -0.03569869324564934,
            -0.0049422746524214745,
            0.033999789506196976,
            0.0046668387949466705,
            0.015571756288409233,
            0.06250042468309402,
            0.027237556874752045,
            0.017346635460853577,
            0.028676316142082214,
            0.0033421486150473356,
            -0.04760071262717247,
            -0.03495729714632034,
            -0.021308930590748787,
            3.021390875801444E-4,
            -0.06427723169326782,
            0.024759793654084206,
            0.018395310267806053,
            -0.021031538024544716,
            -0.00667337141931057,
            -0.06797003746032715,
            -0.04509910196065903,
            -0.0706428661942482,
            0.029213670641183853,
            0.018314577639102936,
            -0.06267440319061279,
            -0.02470594458281994,
            0.013611032627522945,
            -0.04301070049405098,
            -0.016992606222629547,
            0.009134676307439804,
            -0.046805351972579956,
            -0.004924340173602104,
            0.036961112171411514,
            -0.049911923706531525,
            0.016329947859048843,
            0.003848492633551359,
            0.027651788666844368,
            -0.0697292611002922,
            -0.012724526226520538,
            0.07145817577838898,
            -0.047273825854063034,
            0.016818754374980927,
            -0.0511031374335289,
            0.06985662132501602,
            -0.037646278738975525,
            0.005058391485363245,
            0.038801830261945724,
            -0.01843414641916752,
            -0.07509342581033707,
            -0.02710133232176304,
            -0.015800120308995247,
            7.58951180614531E-4,
            -0.04535574093461037,
            -0.0797322615981102,
            -0.025899477303028107,
            0.02103949524462223,
            -0.007045579608529806,
            -0.02161768637597561,
            1.9842143228743225E-4,
            -0.0032799318432807922,
            -0.08833038061857224,
            -0.001214348478242755,
            -5.521262646652758E-4,
            -0.030745932832360268,
            -2.0292996487114578E-4,
            -0.0063709900714457035,
            0.011959878727793694,
            -0.009864015504717827,
            0.08113475143909454,
            0.04275628924369812,
            0.042636193335056305,
            0.025458412244915962,
            0.05090631544589996,
            0.0532132163643837,
            -0.02004445157945156,
            -0.005078101996332407,
            -0.03525792062282562,
            -0.05690259486436844,
            0.014283930882811546,
            -0.004396304953843355,
            -0.04725094884634018,
            -0.013504965230822563,
            0.026664642617106438,
            0.01288376934826374,
            -0.09361077100038528,
            0.01061172503978014,
            0.009005625732243061,
            9.006152977235615E-4,
            -0.0048486473970115185,
            0.0035937719512730837,
            -0.012011365965008736,
            0.0353655144572258,
            -0.014795598573982716,
            -1.522928687336389E-5,
            -0.00135288096498698,
            -0.04422096908092499,
            -0.04523615166544914,
            -0.06648619472980499,
            -0.039078667759895325,
            -0.025231461971998215,
            -0.006927222013473511,
            -0.032789792865514755,
            0.016176268458366394,
            0.02798646315932274,
            -0.012794536538422108,
            0.018353892490267754,
            -0.012847695499658585,
            -0.03328702598810196,
            -0.05128417909145355,
            -0.0362233929336071,
            0.05734826996922493,
            0.11086833477020264,
            -0.01770903170108795,
            9.322140831500292E-4,
            -0.01708335243165493,
            0.024932565167546272,
            0.024697383865714073,
            0.011491692624986172,
            -0.03092321939766407,
            -0.03014160692691803,
            -0.0683940052986145,
            0.005835175514221191,
            -0.03220374137163162,
            -0.023664001375436783,
            0.050395891070365906,
            0.03654629364609718,
            -0.06034247949719429,
            -0.0067207771353423595,
            0.029965931549668312,
            -0.005087262485176325,
            -0.04255956411361694,
            -0.056266579777002335,
            -0.014107020571827888,
            0.016495011746883392,
            0.0036647594533860683,
            -0.027244163677096367,
            -0.04393208026885986,
            0.02905549481511116,
            -0.027725953608751297,
            0.05554897338151932,
            0.006896004546433687,
            0.023009389638900757,
            -0.03375262767076492,
            -0.02073584869503975,
            0.07247703522443771,
            0.039449986070394516,
            -0.002451495034620166,
            -0.01837233453989029,
            0.023790042847394943,
            0.011833074502646923,
            0.010746783576905727,
            -0.03879368677735329,
            -0.005514694377779961,
            -0.060747966170310974,
            0.07630746066570282,
            0.02203814871609211,
            -0.0033233310095965862,
            0.008319093845784664,
            0.0659639984369278,
            0.053834304213523865,
            -0.026004517450928688,
            0.04836256802082062,
            -0.02844439074397087,
            -0.03307467699050903,
            -0.04267698526382446,
            -0.007844158448278904,
            0.026061026379466057,
            -0.011836972087621689,
            -0.04998151212930679,
            -0.035948798060417175,
            0.02343304082751274,
            -0.026456141844391823,
            -0.035867705941200256,
            -0.06619350612163544,
            0.08415845781564713,
            0.014026964083313942,
            -0.05661659315228462,
            0.06399022787809372,
            -0.02284053899347782,
            -0.029946496710181236,
            -0.06874675303697586,
            -0.028019722551107407,
            -0.007091222330927849,
            0.003658260451629758,
            0.03508336469531059,
            0.0452539324760437,
            0.0026031138841062784,
            -7.023971993476152E-4,
            0.017125923186540604,
            -0.031342778354883194,
            0.023282473906874657,
            -0.012054279446601868,
            -0.06574840843677521,
            0.026217378675937653,
            -0.025545023381710052,
            -0.03757528215646744,
            -0.04471396654844284,
            -0.006759217008948326,
            -0.0369144007563591,
            0.03932880237698555,
            0.0012300994712859392,
            -0.002168523147702217,
            -0.008261118084192276,
            0.02094978839159012,
            -0.0022148131392896175,
            0.011549520306289196,
            -0.042902372777462006,
            -0.022303767502307892,
            0.02216716669499874,
            -0.05310051515698433,
            -0.0031548195984214544
          ]

          </div>
        </div>
      </div>
    </div>
</div>

