
	<div class="row">
    <div class="col-lg-4 d-flex justify-content-center align-items-center">
      <div class="d-flex flex-column align-content-center text-center">
        <img src="./assets/img/pixlr-bg-result.png" style="height: 10rem; width: 10rem; margin: auto;">
        <h3>Identifica Elementos importantes </h3>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card text-white bg-danger mb-3">
        <div class="card-body">
        <p class="card-text">
          Insiste en la inconstitucionalidad de la norma impugnada, para lo cual reitera los argumentos formulados en sus conceptos de violación en cuanto a que prevé una limitante para demostrar la materialidad de las operaciones negando valor probatorio al pedimento de exportación, lo que resulta desproporcionado.
        </p>
        </div>
      </div>
      <div class="card bg-success text-white mb-3">
        <div class="card-body">
          <p class="card-text">
            Los anteriores requisitos son alternativos. Es decir, basta que se dé uno u otro para que en principio resulte procedente el recurso de revisión en amparo directo. Sin embargo, existe un segundo requisito que se debe cumplir, consistente en que los temas de constitucionalidad a analizar en cada asunto revistan un interés excepcional en materia constitucional o de derechos humanos, de conformidad con el artículo 107, fracción IX, constitucional.
          </p>
        </div>
		  </div>
      <div class="card bg-success text-white mb-3">
        <div class="card-body">
          <p class="card-text">
            Cabe destacar que, de la exposición de motivos de veinte de febrero de dos mil veinte y de la discusión de veintisiete de noviembre de ese año, se advierte que la intención del legislador al prever como requisito un “interés excepcional” en materia constitucional o de derechos humanos consistió en dotar de mayor fuerza la discrecionalidad de la Suprema Corte de Justicia de la Nación para decidir qué asuntos resolverá y, con ello, fortalecerlo como Tribunal Constitucional.
          </p>
        </div>
		  </div>
      <div class="card bg-success text-white mb-3">
        <div class="card-body">
          <p class="card-text">
            Ahora bien, en vista de los antecedentes y los documentos contenidos en el expediente del presente asunto, se advierte que en el caso se acredita el primer requisito de procedencia, toda vez que subsiste un planteamiento de constitucionalidad consistente en determinar si el artículo 59, fracción IX, del Código Fiscal de la Federación viola los diversos 14 y 16 constitucionales, en relación con los principios de seguridad, legalidad y proporcionalidad jurídicas.
          </p>
        </div>
		  </div>
      <div class="card bg-success text-white mb-3">
        <div class="card-body">
          <p class="card-text">
            No obstante, esta Segunda Sala también advierte que en el presente asunto no se cumple el segundo requisito de procedencia, pues no reviste un interés excepcional en términos de los artículos 107, fracción IX, constitucional y 81, fracción II, de la Ley de Amparo. 
          </p>
        </div>
		  </div>
		</div>
	</div>
