<div class="container">
  <table class="table table-responsive-lg">
  <thead>
    <tr>
      <th scope="col">Expediente</th>
      <th scope="col">Asunto</th>
      <th scope="col">Parrafo Precedente</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="col">3203/2016</th>
        <td>AMPARO DIRECTO EN REVISIÓN</td>
        <td>Resuelto por esta Segunda Sala el veintidós de marzo del dos mil diecisiete, por unanimidad de votos.</td>
    </tr>
    <tr>
      <th scope="col">1429/2019</th>
      <td>RECURSO DE RECLAMACIÓN</td>
      <td>Resueltos por esta Sala en sesiones de cuatro de noviembre de dos mil diecinueve y seis de mayo del dos mil veinte, respectivamente, por unanimidad de votos.</td>
    </tr>
    <tr>
      <th scope="col">187/2020</th>
      <td>CONTRADICCIONES DE CRITERIOS (ANTES CONTRADICCIÓN DE TESIS)</td>
      <td>Resueltos por esta Sala en sesiones de cuatro de noviembre de dos mil diecinueve y seis de mayo del dos mil veinte, respectivamente, por unanimidad de votos.</td>
    </tr>
    <tr>
      <th scope="col">6686/2016</th>
      <td>AMPARO DIRECTO EN REVISIÓN</td>
      <td>En mérito de lo expuesto y conforme a lo resuelto en el amparo directo en revisión 6686/2016 en sesión de veintidós de marzo del dos mil diecisiete, esta Segunda Sala llega a la conclusión que el presente asunto no reúne los requisitos de procedencia, razón por la cual, se</td>
    </tr>
  </tbody>
</table>

</div>
