/* You can add global styles to this file, and also import other style files */
:root {
    --prm-color: #24135F;
    --prm-gray: #b1b1b1;
}

.bg-header{
  background-color: #F6F8FB;
}
.bg-scjn{
  background-color: #24135F;
}
.img-escale{
  width: 135px;
  height: 120px;
}
.img-left{
  margin-left: 3rem;
}
.img-rigth{
  margin-right: 3rem;
}
