<div class="container">
	<div class="row">
		<div class="col d-flex justify-content-end">
      <div class="card text-white bg-primary mb-3" style="max-width: 19rem;">
        <div class="card-header">CRITERIO JURIDICO</div>
          <div class="card-body card-scroll">
            <p class="card-text text-left">
              Al respecto, es necesario indicar que conforme a la jurisprudencia P./J. 72/2010 del Tribunal Pleno, para que se produzca una contradicción de tesis se requiere que los tribunales contendientes adopten criterios jurídicos discrepantes sobre un mismo punto de derecho, independientemente de que las cuestiones fácticas que lo rodean no sean exactamente iguales, salvo que esas diferencias fácticas sean relevantes e incidan en la naturaleza de los problemas jurídicos resueltos.
          </p>
        </div>
      </div>
	  </div>
    <div class="col d-flex justify-content-end">
      <div class="card text-white bg-primary mb-3" style="max-width: 19rem;">
        <div class="card-header">Convertido a Vector</div>
          <div class="card-body card-scroll">
            <p class="card-text text-center">
              "texto_vector_bert" : [
              -0.04884256422519684,
              0.05645296350121498,
              0.008258827961981297,
              -1.451002899557352E-4,
              -0.016167491674423218,
              -0.05013979598879814,
              0.03220241144299507,
              0.041442420333623886,
              0.020775794982910156,
              0.005733547732234001,
              0.024907851591706276,
              -0.048029862344264984,
              -0.005079260095953941,
              -0.02018796280026436,
              0.0371549054980278,
              -0.016882704570889473,
              0.050530653446912766,
              0.05801169201731682,
              0.010518522001802921,
              -0.026535075157880783,
              -0.04178614541888237,
              0.003685126779600978,
              -0.03916294127702713,
              -0.04220651835203171,
              0.05281849578022957,
              -0.1844809353351593,
              -0.022112596780061722,
              -0.020703816786408424,
              0.03239566460251808,
              -7.007298991084099E-4,
              -0.04241662472486496,
              -0.004137208219617605,
              0.060939542949199677,
              -0.016912100836634636,
              -0.014096752740442753,
              -0.0067412033677101135,
              0.022427763789892197,
              0.0038180651608854532,
              -0.022607609629631042,
              9.798917453736067E-4,
              -0.0010003235656768084,
              0.017140401527285576,
              0.03356458991765976,
              -0.025781234726309776,
              0.06153935194015503,
              0.09626447409391403,
              0.029980523511767387,
              0.01548441406339407,
              -0.026555804535746574,
              0.04216628894209862,
              0.04310661926865578,
              -0.012967265211045742,
              0.028593890368938446,
              0.009287885390222073,
              -0.04683502018451691,
              0.011995183303952217,
              -0.07485544681549072,
              0.042602356523275375,
              -0.05639305338263512,
              0.0314115472137928,
              0.087518110871315,
              0.04055936634540558,
              -0.007555050775408745,
              0.04658127948641777,
              -0.09181397408246994,
              -0.018386244773864746,
              0.02815846912562847,
              -0.021825218573212624,
              -0.04053660109639168,
              0.04091927781701088,
              0.003665447933599353,
              0.010317258536815643,
              -0.029536860063672066,
              0.03365808725357056,
              0.05813014134764671,
              0.024951715022325516,
              -0.013735678978264332,
              0.026976516470313072,
              0.039810843765735626,
              -0.02342146635055542,
              0.05774587392807007,
              0.004221446346491575,
              -0.08760561048984528,
              0.04941491782665253,
              0.005180818028748035,
              0.02124064601957798,
              -0.0111179668456316,
              0.019479066133499146,
              -0.04364040866494179,
              0.04266616329550743,
              -0.030310094356536865,
              0.025967353954911232,
              -0.022828390821814537,
              0.018066078424453735,
              -0.011769266799092293,
              -0.04671844094991684,
              0.05682610347867012,
              -0.07011669129133224,
              0.05445755645632744,
              -0.06463966518640518,
              0.0024510016664862633,
              -0.03205385431647301,
              -0.013626259751617908,
              -0.04558790475130081,
              -0.0075231315568089485,
              -0.026481423527002335,
              -0.057822249829769135,
              0.007086038589477539,
              0.05568072944879532,
              0.015118885785341263,
              -0.05666955187916756,
              0.05379832908511162,
              -0.039982870221138,
              0.0406653918325901,
              -0.0055199284106493,
              -0.041192807257175446,
              0.0650087371468544,
              0.04875531047582626,
              -0.010029200464487076,
              -0.032391007989645004,
              0.002014600671827793,
              0.11955565214157104,
              -0.10400053858757019,
              0.0632396787405014,
              -0.016689810901880264,
              0.0989757776260376,
              0.05691945180296898,
              -0.03182870149612427,
              0.018596576526761055,
              -0.009530405513942242,
              -0.06564615666866302,
              -0.006556167267262936,
              0.03499617427587509,
              0.028034590184688568,
              0.033226653933525085,
              -0.023503761738538742,
              0.03427201136946678,
              -0.001749373972415924,
              -0.005048948340117931,
              0.03674683719873428,
              0.006354391574859619,
              0.03860989585518837,
              0.06296330690383911,
              0.021643411368131638,
              -0.038126274943351746,
              0.007428464479744434,
              -0.05988967791199684,
              -0.047303926199674606,
              -0.015187455341219902,
              0.02496432699263096,
              -0.013232809491455555,
              -0.010639497078955173,
              -0.05744015425443649,
              0.04363378509879112,
              0.002543278504163027,
              0.03480096161365509,
              -0.01425448153167963,
              -0.021964579820632935,
              -0.03006146475672722,
              -0.025389978662133217,
              0.0035332501865923405,
              -0.013424891978502274,
              0.011322752572596073,
              0.006994814146310091,
              -0.005940746515989304,
              -0.03483079746365547,
              -2.6244885521009564E-4,
              -0.056472305208444595,
              0.019845983013510704,
              -0.05990000441670418,
              0.05694625526666641,
              0.004383760504424572,
              -0.029881160706281662,
              0.015469499863684177,
              -0.028989477083086967,
              -0.035388119518756866,
              -0.004359397571533918,
              -0.021389329805970192,
              0.017984766513109207,
              -0.03311672806739807,
              -0.030188364908099174,
              -0.004887917544692755,
              3.4419557778164744E-4,
              -0.03267749771475792,
              0.006661033257842064,
              0.011320010758936405,
              -0.0519595667719841,
              0.05699494853615761,
              0.03773637115955353,
              -0.012322869151830673,
              0.04074036329984665,
              -0.05207538977265358,
              0.040697626769542694,
              0.01200562808662653,
              0.025483665987849236,
              -0.013231068849563599,
              -0.00895366445183754,
              0.020583754405379295,
              0.030158337205648422,
              0.10000728815793991,
              0.07248807698488235,
              -0.037274349480867386,
              -0.03347598761320114,
              -0.050482314079999924,
              -0.025592129677534103,
              0.0356869101524353,
              0.014893743209540844,
              0.022985463961958885,
              -0.0385977178812027,
              0.03493361547589302,
              -0.012021753937005997,
              -0.023117732256650925,
              -0.05326685681939125,
              -0.009830491617321968,
              -0.05798938125371933,
              0.003920895047485828,
              0.07843954116106033,
              -0.028895623981952667,
              -0.00890756119042635,
              -0.0010282434523105621,
              -0.03828008472919464,
              -0.05364895239472389,
              0.004482910502701998,
              0.012902575545012951,
              0.01835133507847786,
              0.018070416525006294,
              1.264805468963459E-4,
              0.02445334568619728,
              -0.05695252865552902,
              0.02677033469080925,
              -0.025002339854836464,
              0.010156113654375076,
              -0.04055255651473999,
              -0.01389937475323677,
              0.04499939829111099,
              0.06779645383358002,
              -0.028590572997927666,
              -0.031721264123916626,
              0.06362483650445938,
              0.022132284939289093,
              -0.010433672927320004,
              0.01725023053586483,
              -0.016103889793157578,
              0.0022254041396081448,
              -0.01617501489818096,
              0.04136523976922035,
              -0.02714768797159195,
              -0.003962086513638496,
              -0.04088817536830902,
              0.027231236919760704,
              -0.03181018307805061,
              -0.007811264134943485,
              0.04758520796895027,
              -0.017638858407735825,
              -0.006417923141270876,
              -0.013353340327739716,
              0.006047889590263367,
              0.02499137446284294,
              -0.01810522750020027,
              -0.05084249749779701,
              0.02191643789410591,
              0.018710928037762642,
              -0.0013281271094456315,
              0.006309862248599529,
              -0.013034471310675144,
              0.004540196619927883,
              -0.022656431421637535,
              5.603650351986289E-4,
              -0.008751742541790009,
              -0.0193826574832201,
              0.015423347242176533,
              0.04677911847829819,
              0.03349388763308525,
              0.007279281970113516,
              -0.04069957137107849,
              0.05642424151301384,
              0.026249561458826065,
              -0.052739374339580536,
              -0.04455083608627319,
              0.03233427181839943,
              -0.058089353144168854,
              -0.048383764922618866,
              -0.004110474139451981,
              -0.01713377609848976,
              -0.008094164542853832,
              0.0320264957845211,
              -0.05204782262444496,
              -0.013108679093420506,
              0.03334375470876694,
              -0.002390730194747448,
              -0.011751020327210426,
              0.00510484678670764,
              -0.023776233196258545,
              -0.005194464232772589,
              -0.014875560067594051,
              0.02716895192861557,
              0.03226374462246895,
              -0.003374602645635605,
              -0.016376718878746033,
              -0.029693877324461937,
              -0.028234466910362244,
              -0.036705031991004944,
              0.0038275939878076315,
              -0.029631879180669785,
              0.004788929130882025,
              -0.038840021938085556,
              -0.015046420507133007,
              -0.020282752811908722,
              0.013890236616134644,
              0.01777530647814274,
              -0.007609158288687468,
              -0.030773449689149857,
              -0.010547507554292679,
              0.0233793705701828,
              0.043291639536619186,
              0.013139015063643456,
              0.04447978362441063,
              -0.07220641523599625,
              -0.07249622046947479,
              0.022275716066360474,
              -0.06531693041324615,
              -0.032686423510313034,
              0.038064345717430115,
              -0.045704588294029236,
              -0.03847859799861908,
              0.01072668470442295,
              0.007883218117058277,
              0.028576243668794632,
              0.012507680803537369,
              -0.017797010019421577,
              -0.01590593531727791,
              0.0033311962615698576,
              0.03751857951283455,
              -0.004912426229566336,
              -0.025259410962462425,
              0.016813427209854126,
              -0.04866871237754822,
              0.00529458886012435,
              0.010893156751990318,
              -0.02122911438345909,
              0.042988795787096024,
              0.07274286448955536,
              0.04195890203118324,
              0.028116507455706596,
              -0.05605887249112129,
              -0.024172233417630196,
              -0.029891228303313255,
              0.07920804619789124,
              -0.02122548408806324,
              0.06235514208674431,
              -0.004321357700973749,
              0.010457455180585384,
              -0.004922280553728342,
              -0.04222582280635834,
              0.0023403142113238573,
              -0.10098177194595337,
              0.03459026291966438,
              -0.042508117854595184,
              0.05254027992486954,
              -0.0015472692903131247,
              0.034225545823574066,
              9.015329414978623E-4,
              0.036106742918491364,
              -0.020383592694997787,
              0.01827470026910305,
              0.030233461409807205,
              -0.029822537675499916,
              -0.014411034062504768,
              -0.06045471131801605,
              -0.015648722648620605,
              -0.025578176602721214,
              0.023429621011018753,
              -0.017975667491555214,
              -0.028716886416077614,
              -0.003207929665222764,
              -0.017065903171896935,
              0.015578869730234146,
              0.014399557374417782,
              0.023419726639986038,
              -0.04374860227108002,
              0.020314671099185944,
              0.04689604043960571,
              0.02688250131905079,
              0.020884279161691666,
              0.08128175139427185,
              0.011314436793327332,
              -0.0076891290955245495,
              0.03466666862368584,
              0.06529142707586288,
              -0.06424009054899216,
              0.05166605859994888,
              0.04185827448964119,
              0.023509487509727478,
              2.80024076346308E-4,
              -0.018604515120387077,
              0.022089196369051933,
              -0.010123676620423794,
              -0.055718451738357544,
              0.01848188042640686,
              0.012731232680380344,
              -0.016937028616666794,
              0.004225423093885183,
              -0.06977805495262146,
              -0.023287490010261536,
              -0.02843780629336834,
              0.013410784304141998,
              0.011621790938079357,
              0.01293148472905159,
              0.0375509113073349,
              -0.06140265241265297,
              -0.0021604783833026886,
              0.06745246797800064,
              -0.03443201258778572,
              -0.0334535650908947,
              0.023608824238181114,
              0.03607463836669922,
              -0.020548764616250992,
              -0.02131039649248123,
              -0.019701587036252022,
              -0.025517640635371208,
              -0.04642932862043381,
              -0.030089091509580612,
              -0.025363491848111153,
              -0.010683069005608559,
              0.03507043048739433,
              -0.03610963746905327,
              0.027117788791656494,
              -0.0019830388482660055,
              -0.011308440007269382,
              0.006773937959223986,
              0.008450525812804699,
              0.009101086296141148,
              0.04312218725681305,
              0.007287461776286364,
              0.05203012004494667,
              -0.01096828281879425,
              0.00795696396380663,
              0.026924166828393936,
              0.07090552151203156,
              -0.005457364954054356,
              -0.0058134072460234165,
              0.003785892389714718,
              -0.002798940986394882,
              0.04981721192598343,
              -1.6014309949241579E-4,
              0.007286060601472855,
              0.04615606740117073,
              0.026715651154518127,
              -0.004669668152928352,
              0.015407285653054714,
              0.024610120803117752,
              -0.0399496890604496,
              0.009418908506631851,
              0.05828724801540375,
              -0.08725792169570923,
              0.004366677720099688,
              0.003547593019902706,
              -0.09646031260490417,
              0.034204475581645966,
              0.009172854945063591,
              -0.06569860875606537,
              -0.016844984143972397,
              -0.00920917745679617,
              0.012336615473031998,
              -0.06815491616725922,
              0.058942340314388275,
              -0.022285204380750656,
              -0.027809595689177513,
              0.07968471199274063,
              -0.00851940456777811,
              0.05657057464122772,
              0.04391127824783325,
              0.050416577607393265,
              0.01895858161151409,
              -0.021122625097632408,
              0.013366654515266418,
              -0.005351622588932514,
              0.005922893062233925,
              0.031276244670152664,
              0.05993828549981117,
              -0.0027322364039719105,
              0.01983916386961937,
              -0.007426951080560684,
              0.015058924444019794,
              0.01368370745331049,
              -0.006466512102633715,
              -0.03937428444623947,
              -0.0029280090238898993,
              -0.001402202993631363,
              -0.056937236338853836,
              -0.020195817574858665,
              -0.01311954203993082,
              -0.015490143559873104,
              0.038828928023576736,
              -0.01901676505804062,
              0.03457597643136978,
              0.0024430372286587954,
              -0.022087259218096733,
              -0.008862466551363468,
              -0.01571905054152012,
              -0.0020897581707686186,
              -0.035522133111953735,
              -0.002608282258734107,
              0.016686834394931793,
              -0.005493247415870428,
              -0.04099005460739136,
              -0.02845730446279049,
              -0.036476559937000275,
              0.011666457168757915,
              0.016553135588765144,
              -0.05784061923623085,
              -0.0652175173163414,
              -0.0071614887565374374,
              -0.007244362495839596,
              0.021487941965460777,
              0.006154536735266447,
              -0.0916062444448471,
              -0.019401250407099724,
              -0.05500561371445656,
              0.002982144709676504,
              -0.04190979525446892,
              -0.06965427845716476,
              -0.028376193717122078,
              0.05127505958080292,
              0.004729508887976408,
              -0.0316905677318573,
              0.0020178239792585373,
              0.056908976286649704,
              -0.018338939175009727,
              -0.054298292845487595,
              0.0324212983250618,
              0.03064534440636635,
              0.015107721090316772,
              0.03876907005906105,
              0.00971344392746687,
              0.013411258347332478,
              -0.014164578169584274,
              0.004027730785310268,
              -0.016149388626217842,
              0.020482635125517845,
              -0.011334002017974854,
              -0.020127639174461365,
              -0.021451298147439957,
              -0.012991448864340782,
              -0.022759951651096344,
              -0.05815110728144646,
              -0.004877013154327869,
              0.040599316358566284,
              -0.018549369648098946,
              -0.004338743165135384,
              -0.017436085268855095,
              0.05367977172136307,
              -0.022510215640068054,
              -0.033667903393507004,
              -0.05578656122088432,
              0.01898133009672165,
              -0.017282024025917053,
              -0.013106158934533596,
              -4.901572247035801E-4,
              0.03264642134308815,
              -0.0054388935677707195,
              -0.002707832958549261,
              -0.004919688683003187,
              0.019246863201260567,
              0.008252264000475407,
              0.03798236697912216,
              0.009881830774247646,
              -0.029089046642184258,
              -0.012963120825588703,
              -0.0077279494144022465,
              -0.032239679247140884,
              -0.06379038095474243,
              0.006098140962421894,
              -0.017537349835038185,
              0.025702184066176414,
              -0.05215983837842941,
              -0.07886405289173126,
              -0.03811537101864815,
              -0.05920496955513954,
              0.009311707690358162,
              0.03325895592570305,
              -0.08422931283712387,
              -0.04955240711569786,
              0.01154137123376131,
              -0.03530863672494888,
              0.03669361397624016,
              -0.017581146210432053,
              -0.05146535485982895,
              -0.007741314359009266,
              0.06193770840764046,
              -0.08581380546092987,
              0.024976253509521484,
              0.005632752552628517,
              0.005222771782428026,
              -0.010005354881286621,
              -0.002821624046191573,
              0.0693325623869896,
              -0.0076995063573122025,
              0.005423638503998518,
              -0.054154567420482635,
              0.03597250208258629,
              -0.012501224875450134,
              -0.02671186439692974,
              -0.017813438549637794,
              -0.0054998742416501045,
              -0.059303488582372665,
              0.0025512883439660072,
              -0.0011480646207928658,
              -0.03571983054280281,
              -0.04896396026015282,
              -0.09148480743169785,
              -0.0342927910387516,
              0.0461566261947155,
              -0.004250727128237486,
              0.01657291315495968,
              8.64820962306112E-4,
              -0.026587601751089096,
              -0.04927249252796173,
              -0.022625109180808067,
              0.013518230058252811,
              -0.025199290364980698,
              0.03221964091062546,
              0.018702294677495956,
              -0.028577078133821487,
              0.010630950331687927,
              0.05955767259001732,
              0.026981081813573837,
              0.056841954588890076,
              0.04385489970445633,
              0.02783040888607502,
              0.0026413211598992348,
              -0.018125765025615692,
              0.0062584956176579,
              -0.01104281097650528,
              -0.05068761482834816,
              0.013052505441009998,
              -0.005176009144634008,
              -0.045710209757089615,
              -0.03347615897655487,
              0.016509508714079857,
              0.01860654167830944,
              -0.058881331235170364,
              -0.01663593389093876,
              -0.00913118664175272,
              0.029441703110933304,
              -0.042088549584150314,
              -0.02020048163831234,
              -7.327155617531389E-5,
              0.0027066597249358892,
              -0.017766136676073074,
              0.01893959753215313,
              0.010561319999396801,
              -0.032112155109643936,
              -0.031169435009360313,
              -0.05231208726763725,
              -0.024591410532593727,
              -0.01836126670241356,
              -0.04084694758057594,
              -0.02742585726082325,
              -0.05270189419388771,
              0.03560616075992584,
              -0.008076970465481281,
              0.03954879939556122,
              0.002586710499599576,
              -0.034050315618515015,
              -0.054336078464984894,
              -0.026206130161881447,
              0.006591221783310175,
              0.12173052877187729,
              -0.01291566714644432,
              -0.011646006256341934,
              -0.008545618504285812,
              -0.025263898074626923,
              0.027078114449977875,
              -0.05730113014578819,
              -0.021379245445132256,
              -0.0534614734351635,
              -0.0925782099366188,
              0.0035546873696148396,
              -0.023436522111296654,
              -0.013270039111375809,
              -0.01609276421368122,
              0.02530549094080925,
              -0.05153390020132065,
              -0.0025559752248227596,
              0.04344082251191139,
              0.03166522458195686,
              -0.003970142919570208,
              -0.041173163801431656,
              -0.008153715170919895,
              -0.01252196729183197,
              -0.005032568704336882,
              -0.010983969084918499,
              -0.04838772863149643,
              0.036790620535612106,
              -0.032111506909132004,
              0.02624266967177391,
              0.007169485092163086,
              -0.015838883817195892,
              -0.020826391875743866,
              -0.013012157753109932,
              0.030507555231451988,
              0.020926177501678467,
              0.007212976459413767,
              -0.026367930695414543,
              0.006368271075189114,
              -0.014868227764964104,
              0.013676246628165245,
              -0.05282299220561981,
              0.0016796501586213708,
              -0.030887385830283165,
              0.07421945780515671,
              0.02260892651975155,
              0.001014098757877946,
              -0.031524207442998886,
              0.04968776926398277,
              0.0038454041350632906,
              -0.030945273116230965,
              0.05012500658631325,
              0.007658956106752157,
              0.03229781985282898,
              -0.05805704742670059,
              -0.016086578369140625,
              0.010701174847781658,
              0.04943252354860306,
              -0.016651220619678497,
              -0.0020131885539740324,
              -0.003596391063183546,
              -0.011707544326782227,
              -0.013859296217560768,
              -0.06274645030498505,
              0.05563386157155037,
              -0.021949082612991333,
              -0.015677213668823242,
              0.040512457489967346,
              -0.002353618387132883,
              -0.07712150365114212,
              -0.06651424616575241,
              -0.018211044371128082,
              -0.009895510971546173,
              0.07805908471345901,
              0.014922992326319218,
              0.019958775490522385,
              -0.014708020724356174,
              -0.034308262169361115,
              0.02542903460562229,
              -0.05652077868580818,
              0.025710072368383408,
              -0.03929032012820244,
              -0.04080009087920189,
              -8.951686904765666E-4,
              -0.022379541769623756,
              0.00623506773263216,
              -0.016342109069228172,
              -0.0164885725826025,
              -0.03005092591047287,
              0.051311783492565155,
              0.0065196240320801735,
              0.0036646423395723104,
              -0.009537234902381897,
              -0.030828313902020454,
              -0.01650034636259079,
              0.023286160081624985,
              -0.04858037084341049,
              -0.017625801265239716,
              0.03322500362992287,
              -0.07320718467235565,
              -0.01779572106897831 ]
          </p>
        </div>
      </div>
	  </div>
    <div class="col text-center">
      <h3>Mediante un Modelo de Lenguaje, se genera matemáticamente su representación vectorial</h3>
      <img src="./assets/img/vector.png" >
    </div>
  </div>
</div>

